In [9]:
import pandas as pd
import pickle

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 25)
pd.set_option('display.precision', 3)

In [10]:
!ls data/pickles

hs_data_16-18.pickle

In [61]:
with open('data/pickles/hs_data_16-18.pickle', 'rb') as f:
    df = pickle.load(f)

In [62]:
df['School_Year']

0      School Year 2016-2017
1      School Year 2017-2018
2      School Year 2016-2017
3      School Year 2017-2018
4      School Year 2016-2017
5      School Year 2017-2018
6      School Year 2016-2017
7      School Year 2017-2018
8      School Year 2016-2017
9      School Year 2017-2018
10     School Year 2016-2017
11     School Year 2017-2018
               ...
227    School Year 2016-2017
228    School Year 2017-2018
229    School Year 2016-2017
230    School Year 2017-2018
231    School Year 2016-2017
232    School Year 2017-2018
233    School Year 2016-2017
234    School Year 2017-2018
235    School Year 2016-2017
236    School Year 2017-2018
237    School Year 2016-2017
238    School Year 2017-2018
Name: School_Year, Length: 239, dtype: object

In [63]:
print(list(df))

['ADA_Accessible', 'Address', 'Administrator', 'Administrator_Title', 'After_School_Hours', 'Attendance_Boundaries', 'Average_ACT_School', 'Bilingual_Services', 'CPS_School_Profile', 'City', 'Classification_Description', 'Classroom_Languages', 'Closed_For_Enrollment_Date', 'College_Enrollment_Rate_Mean', 'College_Enrollment_Rate_School', 'Demographic_Description', 'Dress_Code', 'Earliest_Drop_Off_Time', 'Facebook', 'Fax', 'Fifth_Contact_Name', 'Fifth_Contact_Title', 'Finance_ID', 'Fourth_Contact_Name', 'Fourth_Contact_Title', 'Freshman_Start_End_Time', 'Grades_Offered', 'Grades_Offered_All', 'Graduation_Rate_Mean', 'Graduation_Rate_School', 'Hard_Of_Hearing', 'Is_Elementary_School', 'Is_GoCPS_Elementary', 'Is_GoCPS_High_School', 'Is_GoCPS_Participant', 'Is_GoCPS_PreK', 'Is_High_School', 'Is_Middle_School', 'Is_Pre_School', 'Kindergarten_School_Day', 'Legacy_Unit_ID', 'Location', 'Long_Name', 'Mean_ACT', 'Network', 'Open_For_Enrollment_Date', 'Overall_Rating', 'Phone', 'Pinterest', 'PreK_School_Day', 'PreSchool_Inclusive', 'Preschool_Instructional', 'Primary_Category', 'Rating_Statement', 'Rating_Status', 'Refugee_Services', 'School_Hours', 'School_ID', 'School_Latitude', 'School_Longitude', 'School_Type', 'School_Year', 'Secondary_Contact', 'Secondary_Contact_Title', 'Seventh_Contact_Name', 'Seventh_Contact_Title', 'Short_Name', 'Significantly_Modified', 'Sixth_Contact_Name', 'Sixth_Contact_Title', 'State', 'Statistics_Description', 'Student_Count_Asian', 'Student_Count_Asian_Pacific_Islander', 'Student_Count_Black', 'Student_Count_English_Learners', 'Student_Count_Ethnicity_Not_Available', 'Student_Count_Hawaiian_Pacific_Islander', 'Student_Count_Hispanic', 'Student_Count_Low_Income', 'Student_Count_Multi', 'Student_Count_Native_American', 'Student_Count_Other_Ethnicity', 'Student_Count_Special_Ed', 'Student_Count_Total', 'Student_Count_White', 'Summary', 'Third_Contact_Name', 'Third_Contact_Title', 'Title_1_Eligible', 'Transportation_Bus', 'Transportation_El', 'Transportation_Metra', 'Twitter', 'Visual_Impairments', 'Website', 'Youtube', 'Zip_x', 'Zip_y']

In [64]:
df.drop(columns = ['Address', 'Administrator_Title', 'CPS_School_Profile', 
                   'City', 'Classification_Description', 'Closed_For_Enrollment_Date',
                  'College_Enrollment_Rate_Mean', 'College_Enrollment_Rate_School',
                  'Demographic_Description', 'Earliest_Drop_Off_Time', 'Facebook', 
                  'Fax', 'Fifth_Contact_Name', 'Fifth_Contact_Title', 'Finance_ID', 
                  'Fourth_Contact_Name', 'Fourth_Contact_Title', 'Freshman_Start_End_Time',
                  'Grades_Offered', 'Graduation_Rate_Mean', 'Is_Elementary_School', 
                  'Is_GoCPS_Elementary', 'Is_GoCPS_High_School', 'Is_GoCPS_PreK', 
                  'Is_High_School', 'Is_Middle_School', 'Is_Pre_School', 'Kindergarten_School_Day',
                  'Legacy_Unit_ID', 'Long_Name', 'Mean_ACT', 'Open_For_Enrollment_Date', 
                  'Overall_Rating', 'Phone', 'Pinterest', 'PreK_School_Day', 'PreSchool_Inclusive', 
                  'Preschool_Instructional', 'Primary_Category', 'Rating_Statement', 'Rating_Status', 
                  'Refugee_Services', 'School_Type','Secondary_Contact', 'Secondary_Contact_Title', 
                  'Seventh_Contact_Name', 'Seventh_Contact_Title', 'Short_Name', 'Short_Name', 
                  'Significantly_Modified', 'Sixth_Contact_Name', 'Sixth_Contact_Title', 'State',
                  'Statistics_Description', 'Summary', 'Third_Contact_Name', 'Third_Contact_Title', 
                  'Title_1_Eligible', 'Transportation_El', 'Twitter', 'Visual_Impairments', 'Website',
                  'Youtube', 'Zip_x'], inplace = True)

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 239 entries, 0 to 238
Data columns (total 36 columns):
ADA_Accessible                             121 non-null object
Administrator                              239 non-null object
After_School_Hours                         143 non-null object
Attendance_Boundaries                      239 non-null object
Average_ACT_School                         117 non-null float64
Bilingual_Services                         228 non-null object
Classroom_Languages                        228 non-null object
Dress_Code                                 239 non-null object
Grades_Offered_All                         239 non-null object
Graduation_Rate_School                     239 non-null float64
Hard_Of_Hearing                            11 non-null object
Is_GoCPS_Participant                       118 non-null object
Location                                   239 non-null object
Network                                    116 non-null object
School_Hours                               234 non-null object
School_ID                                  239 non-null int64
School_Latitude                            239 non-null float64
School_Longitude                           239 non-null float64
School_Year                                239 non-null object
Student_Count_Asian                        239 non-null int64
Student_Count_Asian_Pacific_Islander       239 non-null int64
Student_Count_Black                        239 non-null int64
Student_Count_English_Learners             239 non-null int64
Student_Count_Ethnicity_Not_Available      239 non-null int64
Student_Count_Hawaiian_Pacific_Islander    239 non-null int64
Student_Count_Hispanic                     239 non-null int64
Student_Count_Low_Income                   239 non-null int64
Student_Count_Multi                        239 non-null int64
Student_Count_Native_American              239 non-null int64
Student_Count_Other_Ethnicity              239 non-null int64
Student_Count_Special_Ed                   239 non-null int64
Student_Count_Total                        239 non-null int64
Student_Count_White                        239 non-null int64
Transportation_Bus                         226 non-null object
Transportation_Metra                       65 non-null object
Zip_y                                      239 non-null float64
dtypes: float64(5), int64(15), object(16)
memory usage: 69.1+ KB

In [71]:
df_2016 = df[df['School_Year'] == 'School Year 2016-2017']
df_2016_income = pd.read_csv('data/meanHHincome_2016.csv', header=None)
df_2016_income.columns = ['Zip_y', 'Zip_Mean_Income']
df_2016 = pd.merge(df_2016, df_2016_income, on = 'Zip_y' )

In [72]:
df_2016

,ADA_Accessible,Administrator,After_School_Hours,Attendance_Boundaries,Average_ACT_School,Bilingual_Services,Classroom_Languages,Dress_Code,Grades_Offered_All,Graduation_Rate_School,Hard_Of_Hearing,Is_GoCPS_Participant,Location,Network,School_Hours,School_ID,School_Latitude,School_Longitude,School_Year,Student_Count_Asian,Student_Count_Asian_Pacific_Islander,Student_Count_Black,Student_Count_English_Learners,Student_Count_Ethnicity_Not_Available,Student_Count_Hawaiian_Pacific_Islander,Student_Count_Hispanic,Student_Count_Low_Income,Student_Count_Multi,Student_Count_Native_American,Student_Count_Other_Ethnicity,Student_Count_Special_Ed,Student_Count_Total,Student_Count_White,Transportation_Bus,Transportation_Metra,Zip_y,Zip_Mean_Income
0,Generally accessible,Juan Carlos Ocon,2:40 to 8:00 P.M.,Y,16.5,Y,"French, Spanish",N,"9,10,11,12",80.9,NaN,NaN,"1450 W CERMAK RD\nChicago, Illinois 60608\n(41...",NaN,7:45 AM - 2:35 PM,609764,41.853,-87.664,School Year 2016-2017,5,0,58,331,11,0,1644,1659,3,6,0,281,1739,12,"9, 21, 60",NaN,60608.0,"53,353"
1,No/unknown accessibility,Dr. Hillyn Senuholtz,3:45 PM - 5:30 PM,N,16.7,Y,Spanish,Y,"9,10,11,12",82.8,NaN,NaN,"2520 S WESTERN AVE\nChicago, Illinois 60608\n(...",NaN,7:45AM - 3:44PM,400104,41.846,-87.687,School Year 2016-2017,0,0,24,169,0,0,714,720,0,1,0,146,742,3,"49, 60",NaN,60608.0,"53,353"
2,No/unknown accessibility,Sharnette Sims,NaN,N,NaN,NaN,NaN,N,"9,10,11,12",1.7,NaN,NaN,"2700 S CALIFORNIA AVE\nChicago, Illinois 60608...",NaN,7:00 am - 4:00 pm,609748,41.843,-87.695,School Year 2016-2017,0,0,154,2,0,0,36,174,0,3,0,58,199,6,NaN,NaN,60608.0,"53,353"
3,Generally accessible,Tressie McDonough,NaN,N,22.2,Y,"Spanish, Spanish for Heritage Speakers",Y,"9,10,11,12",83.3,NaN,NaN,"1231 S DAMEN AVE\nChicago, Illinois 60608\n(41...",NaN,8:00 AM-3:35 PM,400057,41.866,-87.676,School Year 2016-2017,32,0,295,80,2,2,606,814,2,3,0,141,954,12,"50, 12",NaN,60608.0,"53,353"
4,No/unknown accessibility,Mrs.Sherita D Carter-King,NaN,N,16.7,NaN,Spanish,N,"6,7,8,9,10,11,12",21.4,NaN,NaN,"1321 S PAULINA ST\nChicago, Illinois 60608\n(4...",NaN,8:00 AM - 3:05 PM,609750,41.864,-87.669,School Year 2016-2017,0,0,28,2,0,0,8,37,0,0,0,6,38,2,NaN,NaN,60608.0,"53,353"
5,Generally accessible,Mr. Patrick Robinson,4:35AM - 6:30PM,N,16.6,N,Spanish,Y,"9,10,11,12",64.1,NaN,NaN,"1326 W 14TH PL\nChicago, Illinois 60608\n(41.8...",NaN,8:30 AM-4:30 PM,400102,41.863,-87.660,School Year 2016-2017,0,0,220,0,0,0,3,197,2,0,0,59,225,0,"12, 60",NaN,60608.0,"53,353"
6,Fully Accessible,Ms. Linnea Garrett,3:40 PM - 5:00 PM,N,15.6,Y,Spanish,Y,"9,10,11,12",69.5,NaN,NaN,"1301 W 14TH ST\nChicago, Illinois 60608\n(41.8...",NaN,8:50 AM-3:40 PM,400091,41.863,-87.659,School Year 2016-2017,2,0,189,3,0,0,45,222,1,0,0,61,245,8,"12, 60",NaN,60608.0,"53,353"
7,Generally accessible,Ms. Carrie Spitz,4:00PM-5:30PM,N,21.9,N,"Russian, Spanish",Y,"9,10,11,12",90.3,NaN,NaN,"4131 W CORTLAND ST\nChicago, Illinois 60639\n(...",NaN,M - R 8:05AM. - 3:50PM F 8:05- 1:30PM,400054,41.915,-87.730,School Year 2016-2017,1,0,30,120,0,0,945,936,2,5,0,106,992,9,"53, 72, 73",NaN,60639.0,"51,037"
8,Fully Accessible,Ms.Emily Ann Feltes,NaN,Y,15.9,Y,"French, Spanish",N,"9,10,11,12",74.3,NaN,NaN,"4338 W WABANSIA AVE\nChicago, Illinois 60639\n...",NaN,7:45 AM-3:00 PM,609691,41.912,-87.735,School Year 2016-2017,5,0,153,182,0,0,777,902,5,3,0,158,954,11,"65, 72",NaN,60639.0,"51,037"
9,Fully Accessible,Leticia Hernandez,3:25PM - 6:00 PM,Y,15.0,Y,Spanish,Y,"7,8,9,10,11,12",69.8,NaN,NaN,"4343 W WRIGHTWOOD AVE\nChicago, Illinois 60639...",NaN,8:05-3:25,609716,41.928,-87.736,School Year 2016-2017,0,0,31,146,1,1,402,415,1,2,0,88,445,7,"74, 76",Milwaukee District North (MD-N),60639.0,"51,037"
10,Generally accessible,Mr.Mark Schall,3:53 PM - 6:30 PM,N,18.1,Y,"American Sign Language, French, Spanish, Spani...",N,"9,10,11,12",88.2,Y,NaN,"2148 N LONG AVE\nChicago, Illinois 60639\n(41....",NaN,8:45 AM - 3:53 PM,609679,41.920,-87.761,School Year 2016-2017,7,0,252,82,0,1,1101,1316,3,7,0,181,1398,27,"65, 74, 85",Milwaukee District West (MD-W),60639.0,"51,037"
11,Fully Accessible,Ms.Shannae Bea Jackson,NaN,N,22.5,N,"French, Spanish",N,"7,8,9,10,11,12",93.4,NaN,NaN,"250 E 111TH ST\nChicago, Illinois 60628\n(41.6...",NaN,8:00 AM - 3:30 PM,609726,41.693,-87.616,School Year 2016-2017,1,0,757,2,8,2,175,692,7,2,0,59,959,7,34111119,Metra Electric District (ME),60628.0,"49,517"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109,Fully Accessible,George Z Szkapiak,2:45 - 8:00 PM,Y,18.1,Y,"Polish, Spanish",N,"9,10,11,12",68.8,NaN,NaN,"6325 W 56TH ST\nChicago, Illinois 60638\n(41.7...",NaN,7:30 AM-2:45 PM,609718,41.790,-87.781,School Year 2016-2017,10,0,65,107,1,2,1230,1241,9,18,0,295,1686,351,"55N, 62, 62H",NaN,60638.0,"75,639"
110,Generally accessible,Mr.Wayne Joseph Bevis,3:05 PM - 8:30 PM,N,22.9,N,"Arabic, Chinese",N,"7,8,9,10,11,12",89.2,NaN,NaN,"6130 S WOLCOTT AVE\nChicago, Illinois 60636\n(...",NaN,8:00 - 3:05pm,610391,41.782,-87.672,School Year 2016-2017,13,0,941,19,5,0,325,882,10,3,0,72,1331,34,"9, 48, 63",NaN,60636.0,"39,577"
111,Generally accessible,Mrs.Leonetta C Sanders,03:00 AM - 06:30 PM,Y,14.6,N,Spanish,Y,"9,10,11,12",62.1,NaN,NaN,"6520 S WOOD ST\nChicago, Illinois 60636\n(41.7...",NaN,8:04 AM-3:12 PM,609711,41.775,-87.669,School Year 2016-2017,0,0,130,4,0,0,5,135,1,0,0,40,136,0,"9, 48, 63",NaN,60636.0,"39,577"
112,Generally accessible,Wayne K Issa,4:00 PM-6:00 PM,Y,15.3,Y,"French, Polish, Spanish, Spanish for Heritage ...",N,"9,10,11,12",65.2,NaN,NaN,"3235 N LECLAIRE AVE\nChicago, Illinois 60641\n...",NaN,7:15 AM - 4:15 PM,609708,41.940,-87.754,School Year 2016-2017,7,0,180,204,0,1,591,750,1,2,0,178,802,20,"54, 77, 85, 152",NaN,60641.0,"69,641"
113,Generally accessible,Anthony N Rodriguez,3:00 pm - 5:30 pm,Y,16.4,Y,"French, Italian, Spanish, Spanish for Heritage...",N,"9,10,11,12",72.5,NaN,NaN,"3601 N MILWAUKEE AVE\nChicago, Illinois 60641\...",NaN,7:45 AM - 2:56 PM,609729,41.946,-87.736,School Year 2016-2017,23,0,177,323,0,3,1415,1599,17,7,0,362,1736,94,"56, 152",Milwaukee District North (MD-N),60641.0,"69,641"
114,Generally accessible,Noel Francis Mcnally,NaN,N,NaN,NaN,NaN,N,"9,10,11,12",27.8,NaN,NaN,"4355 N LINDER AVE\nChicago, Illinois 60641\n(4...",NaN,7:15 AM-2:14 PM,609766,41.960,-87.765,School Year 2016-2017,5,0,50,82,0,0,130,187,1,0,0,234,234,48,NaN,NaN,60641.0,"69,641"
115,Generally accessible,William Edwin Hook,NaN,N,20.2,Y,"French, Spanish",N,"9,10,11,12",74.7,NaN,NaN,"3857 W 111TH ST\nChicago, Illinois 60655\n(41....",NaN,7:30 AM-3:00 PM,609753,41.691,-87.718,School Year 2016-2017,2,0,297,8,3,3,131,325,13,7,0,132,723,267,"52A, 53A, 112",NaN,60655.0,"102,480"
116,Generally accessible,Steven E Rouse,NaN,N,18.0,N,"French, Spanish",Y,"9,10,11,12",91.0,NaN,NaN,"13100 S DOTY AVE\nChicago, Illinois 60627\n(41...",NaN,7:45 AM - 3:41 PM,609760,41.656,-87.591,School Year 2016-2017,0,0,192,18,0,0,281,443,2,1,0,26,479,3,34,NaN,60627.0,0.0
117,Fully Accessible,Timothy Patrick Devine,NaN,N,29.6,Y,"Chinese, French, Japanese, Latin, Spanish",N,"9,10,11,12",95.3,NaN,NaN,"1034 N WELLS ST\nChicago, Illinois 60610\n(41....",NaN,8:00 AM - 3:30 PM,609680,41.902,-87.635,School Year 2016-2017,192,0,118,8,0,7,235,346,51,4,0,48,1072,465,"11, 36, 70",NaN,60610.0,"126,807"
118,Generally accessible,Dr.Paul J Powers,NaN,N,26.2,N,"Chinese, French, Spanish",N,"9,10,11,12",91.8,NaN,NaN,"700 S STATE ST\nChicago, Illinois 60605\n(41.8...",NaN,8:00 am - 3:15 pm,609678,41.873,-87.628,School Year 2016-2017,243,1,259,17,74,14,529,732,71,6,0,126,1866,669,"2, 6, 10, 29, 62, 144, 146",Metra Electric District (ME),60605.0,"141,228"
119,Generally accessible,Paul Joseph Karafiol,3:00PM-6:00PM,Y,17.5,Y,"French, Spanish, Spanish for Heritage Speakers",N,"9,10,11,12",91.2,NaN,NaN,"4015 N ASHLAND AVE\nChicago, Illinois 60613\n(...",NaN,7:45AM - 3:00PM,609719,41.955,-87.669,School Year 2016-2017,52,0,127,102,0,4,980,1122,28,10,0,230,1387,186,"9, 80, X9",NaN,60613.0,"105,717"
120,Generally accessible,Ms. Emily Mason,3:53 PM - 6:00 PM,N,21.8,Y,Spanish,Y,"9,10,11,12",86.4,NaN,NaN,"1 N STATE ST\nChicago, Illinois 60602\n(41.882...",NaN,"M- R 7:50 AM - 3:53 PM, F 7:50 AM - 12:25 PM",400098,41.883,-87.626,School Year 2016-2017,38,0,263,66,5,0,646,804,4,2,0,110,964,6,"2, 3, 4, 6, 10, 20, 22, 24, 26, 29, 36, 62, 66...","BNSF Railway (BNSF), Heritage Corridor (HC), M...",60602.0,"101,869"

In [90]:
df_2017 = df[df['School_Year'] == 'School Year 2017-2018']
df_2017_income = pd.read_csv('data/meanHHincome_2017.csv', header=None)
df_2017_income.columns = ['Zip_y', 'Zip_Mean_Income']
df_2017 = pd.merge(df_2017, df_2017_income, on = 'Zip_y' )

In [91]:
df_new = df_2016.append(df_2017)

In [92]:
df_new.sort_values('School_ID')

,ADA_Accessible,Administrator,After_School_Hours,Attendance_Boundaries,Average_ACT_School,Bilingual_Services,Classroom_Languages,Dress_Code,Grades_Offered_All,Graduation_Rate_School,Hard_Of_Hearing,Is_GoCPS_Participant,Location,Network,School_Hours,School_ID,School_Latitude,School_Longitude,School_Year,Student_Count_Asian,Student_Count_Asian_Pacific_Islander,Student_Count_Black,Student_Count_English_Learners,Student_Count_Ethnicity_Not_Available,Student_Count_Hawaiian_Pacific_Islander,Student_Count_Hispanic,Student_Count_Low_Income,Student_Count_Multi,Student_Count_Native_American,Student_Count_Other_Ethnicity,Student_Count_Special_Ed,Student_Count_Total,Student_Count_White,Transportation_Bus,Transportation_Metra,Zip_y,Zip_Mean_Income
60,Generally accessible,Cecilia Baader,NaN,N,15.2,Y,Spanish,Y,"9,10,11,12",68.8,NaN,NaN,"5410 S STATE ST\nChicago, Illinois 60609\n(41....",NaN,7:40 AM-3:22 PM,400010,41.796,-87.626,School Year 2016-2017,0,0,259,22,0,1,49,302,1,0,0,67,314,4,"15, 29, 55",NaN,60609.0,"46,096"
80,Fully Accessible,Brenda Stolle,3:15 PM -4:00 PM,N,14.9,Y,"Spanish, Spanish for Heritage Speakers",Y,"9,10,11,12",67.9,NaN,NaN,"3986 W BARRY AVE\nChicago, Illinois 60618\n(41...",NaN,8:15 AM - 3:15 PM,400013,41.937,-87.727,School Year 2016-2017,3,0,12,103,7,0,350,358,1,0,0,95,378,5,"53, 77, 56",NaN,60618.0,"90,510"
74,NaN,Brenda Stolle,3:15 PM -4:00 PM,N,NaN,Y,"Spanish, Spanish for Heritage Speakers",Y,"9,10,11,12",79.2,NaN,Y,"3986 W BARRY AVE\nChicago, Illinois 60618\n(41...",Charter,8:15 AM - 3:15 PM,400013,41.937,-87.727,School Year 2017-2018,2,0,7,108,0,0,323,316,2,1,0,86,340,5,"53, 77, 56",NaN,60618.0,"97,946"
101,Generally accessible,Mr. Michael Wang,NaN,N,19.4,N,"French, Spanish",N,"9,10,11,12",81.1,NaN,NaN,"2714 W AUGUSTA BLVD\nChicago, Illinois 60622\n...",NaN,8:00 AM-5:00 PM,400022,41.899,-87.695,School Year 2016-2017,15,0,238,5,27,2,202,332,17,1,0,38,621,119,"66, 70, 52, 49",Union Pacific North (UP-N),60622.0,"111,615"
95,NaN,Mr. Michael Wang,NaN,N,NaN,N,"French, Spanish",N,"9,10,11,12",84.6,NaN,Y,"2714 W AUGUSTA BLVD\nChicago, Illinois 60622\n...",Contract,8:00 AM-5:00 PM,400022,41.899,-87.695,School Year 2017-2018,11,0,207,5,38,1,216,193,16,2,0,40,612,121,"66, 70, 52, 49",Union Pacific North (UP-N),60622.0,"119,502"
44,Generally accessible,Ms. Kimberly Hinton,NaN,Y,16.3,N,Spanish,Y,"9,10,11,12",78.6,NaN,NaN,"1817 W 80TH ST\nChicago, Illinois 60620\n(41.7...",NaN,8:00 AM-3:30 PM,400032,41.748,-87.669,School Year 2016-2017,0,0,417,0,4,0,3,391,1,0,0,80,425,0,"9, 48, 79, 169",NaN,60620.0,"45,007"
44,NaN,Ms. Taquia Hylton,NaN,N,NaN,Y,Spanish,Y,"9,10,11,12",77.8,NaN,Y,"1817 W 80TH ST\nChicago, Illinois 60620\n(41.7...",Charter,8:00 AM-3:30 PM,400032,41.748,-87.669,School Year 2017-2018,0,0,347,0,0,0,1,298,0,0,0,76,348,0,"9, 48, 79, 169",NaN,60620.0,"47,131"
60,NaN,Ms. Angel Johnson,3:30 PM - 6:00 PM,N,NaN,Y,NaN,Y,"3,4,5,6,7,8,9,10,11,12",73.3,NaN,Y,"1309 W 95TH ST\nChicago, Illinois 60643\n(41.7...",Charter,8:00 AM-3:20 PM,400033,41.721,-87.656,School Year 2017-2018,0,0,1272,13,0,0,8,1050,0,0,0,239,1281,1,"9, 95W",Rock Island District (RI),60643.0,"83,368"
64,No/unknown accessibility,Ms. Kenyatta Starks,3:30 PM - 6:00 PM,N,15.4,N,NaN,Y,"3,4,5,6,7,8,9,10,11,12",82.6,NaN,NaN,"1309 W 95TH ST\nChicago, Illinois 60643\n(41.7...",NaN,8:00 AM-3:20 PM,400033,41.721,-87.656,School Year 2016-2017,0,0,1307,9,8,0,8,1221,4,0,0,230,1329,2,"9, 95W",Rock Island District (RI),60643.0,"81,467"
53,NaN,Torry A. Bennett,3:30pm,N,NaN,Y,"French, Spanish",Y,"9,10,11,12",84.4,NaN,Y,"3900 W PETERSON AVE\nChicago, Illinois 60659\n...",Charter,8:00am,400034,41.990,-87.727,School Year 2017-2018,165,0,61,134,0,3,514,675,19,3,0,209,918,153,"53, 84",NaN,60659.0,"68,047"
53,Generally accessible,Torry A. Bennett,3:30pm,Y,19.4,Y,"French, Spanish",Y,"9,10,11,12",83.3,NaN,NaN,"3900 W PETERSON AVE\nChicago, Illinois 60659\n...",NaN,8:00am,400034,41.990,-87.727,School Year 2016-2017,141,0,59,114,1,3,483,723,19,7,0,213,901,188,"53, 84",NaN,60659.0,"68,301"
92,NaN,Mr. Michael Kuran,NaN,N,NaN,Y,"Spanish, Turkish",Y,"6,7,8,9,10,11,12",85.9,NaN,Y,"7212 N CLARK ST\nChicago, Illinois 60626\n(42....",Charter,NaN,400035,42.013,-87.675,School Year 2017-2018,57,1,186,119,5,0,311,395,12,3,0,67,604,29,22,Union Pacific North (UP-N),60626.0,"56,683"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109,NaN,Mrs.Yashika N Tippett-Eggleston,03:00 Pm - 06:00 PM,N,NaN,N,"French, Spanish",Y,"9,10,11,12",86.7,NaN,Y,"3630 S WELLS ST\nChicago, Illinois 60609\n(41....",Network 16,07:30 AM-03:00 PM,610513,41.828,-87.633,School Year 2017-2018,3,0,82,12,0,0,92,147,4,0,0,25,197,16,"24, 35, 39, 44",Rock Island District (RI),60609.0,"47,139"
25,NaN,Mrs.Simone G. Griffin,4:00 PM - 7:00 PM,N,NaN,Y,Spanish,N,"9,10,11,12",77.3,NaN,Y,"231 N PINE AVE\nChicago, Illinois 60644\n(41.8...",Network 15,"8:40 AM - 3:53 PM (M,T,Th, F) 8:40AM - 3:01 (W)",610518,41.886,-87.762,School Year 2017-2018,0,0,208,1,0,0,3,160,1,1,0,67,214,1,"20, 57, 85",NaN,60644.0,"41,174"
25,Generally accessible,Mrs.Patricia J Harper Reynolds,4:00 PM - 7:00 PM,N,14.6,Y,Spanish,N,"9,10,11,12",70.9,NaN,NaN,"231 N PINE AVE\nChicago, Illinois 60644\n(41.8...",NaN,8:40 AM - 3:53 PM,610518,41.886,-87.762,School Year 2016-2017,0,0,215,3,0,0,5,216,1,1,0,64,223,1,"20, 57, 85",NaN,60644.0,"40,069"
78,Fully Accessible,Elias Estrada,3:15 - 6:15 PM,N,17.6,Y,"French, Spanish",N,"9,10,11,12",87.1,NaN,NaN,"2957 N HOYNE AVE\nChicago, Illinois 60618\n(41...",NaN,"M, T, W, Th: 7:45 AM-3:05 PM F: 7:45 AM-2:07 PM",610524,41.936,-87.681,School Year 2016-2017,5,0,50,20,2,2,223,265,6,1,0,40,319,30,"49, 50, 76, 77",NaN,60618.0,"90,510"
72,NaN,Elias Estrada,NaN,N,NaN,Y,"French, Spanish",N,"9,10,11,12",81.3,NaN,Y,"2957 N HOYNE AVE\nChicago, Illinois 60618\n(41...",NaN,"M, T, W, Th: 7:45 AM-3:05 PM F: 7:45 AM-2:07 PM",610524,41.936,-87.681,School Year 2017-2018,2,0,60,21,0,2,214,209,4,1,0,60,316,33,"49, 50, 76, 77",NaN,60618.0,"97,946"
45,Generally accessible,Michael S Beyer,NaN,N,19.7,N,"American Sign Language, French, Spanish",N,"6,7,8,9,10,11,12",83.6,Y,NaN,"1250 W ERIE ST\nChicago, Illinois 60642\n(41.8...",NaN,8:00 AM - 3:15 PM,610529,41.894,-87.659,School Year 2016-2017,41,0,323,33,0,1,288,481,25,4,0,93,880,198,"65, 66",NaN,60642.0,"107,647"
45,NaN,Michael S Beyer,5:00pm,N,NaN,N,"American Sign Language, French, Spanish",N,"9,10,11,12",93.9,Y,Y,"1250 W ERIE ST\nChicago, Illinois 60642\n(41.8...",NaN,8:00 AM - 3:28 PM,610529,41.894,-87.659,School Year 2017-2018,18,0,263,15,0,0,220,282,17,2,0,61,596,76,"65, 66",NaN,60642.0,"114,612"
24,NaN,Victor Iturralde,3:23-6:00,Y,NaN,Y,"Spanish, Spanish for Heritage Speakers",Y,"9,10,11,12",82.7,NaN,Y,"5400 S ST LOUIS AVE\nChicago, Illinois 60632\n...",AUSL,"M, T, Th, F 8:00 AM - 3:23 PM; W 8:00 AM - 2:20",610543,41.795,-87.711,School Year 2017-2018,0,0,50,156,0,0,1128,905,2,7,0,132,1196,9,"52, 52A, 55",NaN,60632.0,"55,174"
24,Fully Accessible,Victor Iturralde,3:23-6:00,Y,18.4,Y,"Spanish, Spanish for Heritage Speakers",Y,"9,10,11,12",80.5,NaN,NaN,"5400 S ST LOUIS AVE\nChicago, Illinois 60632\n...",NaN,"M, T, Th, F 8:00 AM - 3:23 PM; W 8:00 AM - 2:20",610543,41.795,-87.711,School Year 2016-2017,0,0,56,152,1,0,1116,1128,4,4,0,125,1190,9,"52, 52A, 55",NaN,60632.0,"52,566"
96,No/unknown accessibility,Janice Elaine Wells,NaN,Y,17.9,N,"Chinese, Spanish",Y,"9,10,11,12",71.0,NaN,NaN,"1955 E 75TH ST\nChicago, Illinois 60649\n(41.7...",NaN,9:00 AM - 4:30 PM,610547,41.759,-87.576,School Year 2016-2017,1,0,624,4,0,0,18,568,8,0,0,58,651,0,"J14, 15, 75",NaN,60649.0,"42,569"
90,NaN,Towanna Butler,3:15 PM-7:15 PM,N,NaN,N,"Chinese, Spanish",Y,"9,10,11,12",86.5,NaN,Y,"1955 E 75TH ST\nChicago, Illinois 60649\n(41.7...",Network 17,8:00 AM - 3:15 PM,610547,41.759,-87.576,School Year 2017-2018,0,0,633,6,0,0,16,507,5,0,0,59,655,1,"J14, 15, 75",NaN,60649.0,"43,822"
77,No/unknown accessibility,Mr. Andrew Morgan,NaN,N,15.1,NaN,NaN,N,"9,10,11,12",0.0,NaN,NaN,"3284 W 87TH ST\nChicago, Illinois 60652\n(41.7...",NaN,NaN,610557,41.735,-87.704,School Year 2016-2017,0,0,62,22,0,0,141,200,1,1,0,27,227,22,NaN,NaN,60652.0,"74,409"

In [93]:
print(list(df_new))

['ADA_Accessible', 'Administrator', 'After_School_Hours', 'Attendance_Boundaries', 'Average_ACT_School', 'Bilingual_Services', 'Classroom_Languages', 'Dress_Code', 'Grades_Offered_All', 'Graduation_Rate_School', 'Hard_Of_Hearing', 'Is_GoCPS_Participant', 'Location', 'Network', 'School_Hours', 'School_ID', 'School_Latitude', 'School_Longitude', 'School_Year', 'Student_Count_Asian', 'Student_Count_Asian_Pacific_Islander', 'Student_Count_Black', 'Student_Count_English_Learners', 'Student_Count_Ethnicity_Not_Available', 'Student_Count_Hawaiian_Pacific_Islander', 'Student_Count_Hispanic', 'Student_Count_Low_Income', 'Student_Count_Multi', 'Student_Count_Native_American', 'Student_Count_Other_Ethnicity', 'Student_Count_Special_Ed', 'Student_Count_Total', 'Student_Count_White', 'Transportation_Bus', 'Transportation_Metra', 'Zip_y', 'Zip_Mean_Income']

In [94]:
df_new.drop(columns = ['Is_GoCPS_Participant','Location', 'School_Latitude', 'School_Longitude', 'Average_ACT_School'], inplace=True)

In [114]:
df_new.sort_values('School_ID').head(20)

,ADA_Accessible,Administrator,After_School_Hours,Attendance_Boundaries,Bilingual_Services,Classroom_Languages,Dress_Code,Grades_Offered_All,Graduation_Rate_School,Hard_Of_Hearing,Network,School_Hours,School_ID,School_Year,Student_Count_Asian,Student_Count_Asian_Pacific_Islander,Student_Count_Black,Student_Count_English_Learners,Student_Count_Ethnicity_Not_Available,Student_Count_Hawaiian_Pacific_Islander,Student_Count_Hispanic,Student_Count_Low_Income,Student_Count_Multi,Student_Count_Native_American,Student_Count_Other_Ethnicity,Student_Count_Special_Ed,Student_Count_Total,Student_Count_White,Transportation_Bus,Transportation_Metra,Zip_y,Zip_Mean_Income
60,Generally accessible,Cecilia Baader,NaN,N,Y,Spanish,Y,"9,10,11,12",68.8,NaN,NaN,7:40 AM-3:22 PM,400010,School Year 2016-2017,0,0,259,22,0,1,49,302,1,0,0,67,314,4,"15, 29, 55",NaN,60609.0,"46,096"
80,Fully Accessible,Brenda Stolle,3:15 PM -4:00 PM,N,Y,"Spanish, Spanish for Heritage Speakers",Y,"9,10,11,12",67.9,NaN,NaN,8:15 AM - 3:15 PM,400013,School Year 2016-2017,3,0,12,103,7,0,350,358,1,0,0,95,378,5,"53, 77, 56",NaN,60618.0,"90,510"
74,NaN,Brenda Stolle,3:15 PM -4:00 PM,N,Y,"Spanish, Spanish for Heritage Speakers",Y,"9,10,11,12",79.2,NaN,Charter,8:15 AM - 3:15 PM,400013,School Year 2017-2018,2,0,7,108,0,0,323,316,2,1,0,86,340,5,"53, 77, 56",NaN,60618.0,"97,946"
101,Generally accessible,Mr. Michael Wang,NaN,N,N,"French, Spanish",N,"9,10,11,12",81.1,NaN,NaN,8:00 AM-5:00 PM,400022,School Year 2016-2017,15,0,238,5,27,2,202,332,17,1,0,38,621,119,"66, 70, 52, 49",Union Pacific North (UP-N),60622.0,"111,615"
95,NaN,Mr. Michael Wang,NaN,N,N,"French, Spanish",N,"9,10,11,12",84.6,NaN,Contract,8:00 AM-5:00 PM,400022,School Year 2017-2018,11,0,207,5,38,1,216,193,16,2,0,40,612,121,"66, 70, 52, 49",Union Pacific North (UP-N),60622.0,"119,502"
44,Generally accessible,Ms. Kimberly Hinton,NaN,Y,N,Spanish,Y,"9,10,11,12",78.6,NaN,NaN,8:00 AM-3:30 PM,400032,School Year 2016-2017,0,0,417,0,4,0,3,391,1,0,0,80,425,0,"9, 48, 79, 169",NaN,60620.0,"45,007"
44,NaN,Ms. Taquia Hylton,NaN,N,Y,Spanish,Y,"9,10,11,12",77.8,NaN,Charter,8:00 AM-3:30 PM,400032,School Year 2017-2018,0,0,347,0,0,0,1,298,0,0,0,76,348,0,"9, 48, 79, 169",NaN,60620.0,"47,131"
60,NaN,Ms. Angel Johnson,3:30 PM - 6:00 PM,N,Y,NaN,Y,"3,4,5,6,7,8,9,10,11,12",73.3,NaN,Charter,8:00 AM-3:20 PM,400033,School Year 2017-2018,0,0,1272,13,0,0,8,1050,0,0,0,239,1281,1,"9, 95W",Rock Island District (RI),60643.0,"83,368"
64,No/unknown accessibility,Ms. Kenyatta Starks,3:30 PM - 6:00 PM,N,N,NaN,Y,"3,4,5,6,7,8,9,10,11,12",82.6,NaN,NaN,8:00 AM-3:20 PM,400033,School Year 2016-2017,0,0,1307,9,8,0,8,1221,4,0,0,230,1329,2,"9, 95W",Rock Island District (RI),60643.0,"81,467"
53,NaN,Torry A. Bennett,3:30pm,N,Y,"French, Spanish",Y,"9,10,11,12",84.4,NaN,Charter,8:00am,400034,School Year 2017-2018,165,0,61,134,0,3,514,675,19,3,0,209,918,153,"53, 84",NaN,60659.0,"68,047"
53,Generally accessible,Torry A. Bennett,3:30pm,Y,Y,"French, Spanish",Y,"9,10,11,12",83.3,NaN,NaN,8:00am,400034,School Year 2016-2017,141,0,59,114,1,3,483,723,19,7,0,213,901,188,"53, 84",NaN,60659.0,"68,301"
92,NaN,Mr. Michael Kuran,NaN,N,Y,"Spanish, Turkish",Y,"6,7,8,9,10,11,12",85.9,NaN,Charter,NaN,400035,School Year 2017-2018,57,1,186,119,5,0,311,395,12,3,0,67,604,29,22,Union Pacific North (UP-N),60626.0,"56,683"
98,Fully Accessible,Mr. Michael Kuran,NaN,N,Y,"Spanish, Turkish",Y,"6,7,8,9,10,11,12",85.2,NaN,NaN,NaN,400035,School Year 2016-2017,54,1,180,82,0,0,317,533,9,3,0,57,584,20,22,Union Pacific North (UP-N),60626.0,"53,970"
20,NaN,Ms. Donna Henry,NaN,N,Y,"Chinese, French, German, Japanese, Latin, Spanish",N,"K,1,2,3,4,5,6,7,8,9,10,11,12",60.0,NaN,Charter,8:00 AM - 4:00 PM,400036,School Year 2017-2018,44,1,392,51,9,2,134,402,16,1,0,94,671,72,"8, 20, 126","BNSF Railway (BNSF), Heritage Corridor (HC), M...",60607.0,"120,419"
20,Fully Accessible,Dr. Richard Lebron,NaN,N,Y,"Chinese, French, German, Japanese, Latin, Spanish",N,"K,1,2,3,4,5,6,7,8,9,10,11,12",50.0,NaN,NaN,8:00 AM - 4:00 PM,400036,School Year 2016-2017,35,0,370,38,9,0,145,479,24,2,0,104,672,87,"8, 20, 126","BNSF Railway (BNSF), Heritage Corridor (HC), M...",60607.0,"118,044"
47,No/unknown accessibility,Ms. Ellen Metz,4:10 PM - 5:30PM,N,Y,Spanish,Y,"9,10,11,12",92.8,NaN,NaN,8:30 AM - 4:00 PM | F 8 AM - 1:10 PM,400051,School Year 2016-2017,5,0,82,55,0,0,552,580,4,4,0,79,655,8,"9, 56, 70",NaN,60642.0,"107,647"
47,NaN,Mr. Ben Gunty,4:10 PM - 5:30PM,N,Y,Spanish,Y,"9,10,11,12",94.1,NaN,Charter,8:30 AM - 4:00 PM | F 8 AM - 1:10 PM,400051,School Year 2017-2018,5,0,77,63,4,0,568,549,2,4,0,97,668,8,"9, 56, 70",NaN,60642.0,"114,612"
59,No/unknown accessibility,Trent Kelly,NaN,N,Y,Spanish,Y,"6,7,8,9,10,11,12",88.1,NaN,NaN,8:15 AM-4:05 PM,400052,School Year 2016-2017,0,0,1080,7,11,1,25,969,1,0,0,182,1118,0,"4, 30, 71",NaN,60619.0,"44,893"
59,NaN,Mr. Trent Kelly,NaN,N,Y,Spanish,Y,"6,7,8,9,10,11,12",85.4,NaN,Charter,8:15 AM-4:05 PM,400052,School Year 2017-2018,1,0,1142,10,5,1,28,975,3,1,0,183,1181,0,"4, 30, 71",NaN,60619.0,"46,846"
48,Generally accessible,Ms. Stephanie Hernandez,3:50 PM - 4:50 PM,N,Y,"French, Spanish",Y,"9,10,11,12",81.7,NaN,NaN,7:55 AM - 3:40 PM,400053,School Year 2016-2017,3,0,102,75,5,0,539,602,6,3,0,104,670,12,"9, 65, 66",NaN,60642.0,"107,647"

In [105]:
df_new['School_Year'].value_counts()

School Year 2016-2017    121
School Year 2017-2018    118
Name: School_Year, dtype: int64

In [106]:
ada = df_new[df_new['School_Year'] == 'School Year 2016-2017']

In [108]:
ada.ADA_Accessible.value_counts()

Generally accessible        66
Fully Accessible            33
No/unknown accessibility    22
Name: ADA_Accessible, dtype: int64

In [111]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 239 entries, 0 to 117
Data columns (total 32 columns):
ADA_Accessible                             121 non-null object
Administrator                              239 non-null object
After_School_Hours                         143 non-null object
Attendance_Boundaries                      239 non-null object
Bilingual_Services                         228 non-null object
Classroom_Languages                        228 non-null object
Dress_Code                                 239 non-null object
Grades_Offered_All                         239 non-null object
Graduation_Rate_School                     239 non-null float64
Hard_Of_Hearing                            11 non-null object
Network                                    116 non-null object
School_Hours                               234 non-null object
School_ID                                  239 non-null int64
School_Year                                239 non-null object
Student_Count_Asian                        239 non-null int64
Student_Count_Asian_Pacific_Islander       239 non-null int64
Student_Count_Black                        239 non-null int64
Student_Count_English_Learners             239 non-null int64
Student_Count_Ethnicity_Not_Available      239 non-null int64
Student_Count_Hawaiian_Pacific_Islander    239 non-null int64
Student_Count_Hispanic                     239 non-null int64
Student_Count_Low_Income                   239 non-null int64
Student_Count_Multi                        239 non-null int64
Student_Count_Native_American              239 non-null int64
Student_Count_Other_Ethnicity              239 non-null int64
Student_Count_Special_Ed                   239 non-null int64
Student_Count_Total                        239 non-null int64
Student_Count_White                        239 non-null int64
Transportation_Bus                         226 non-null object
Transportation_Metra                       65 non-null object
Zip_y                                      239 non-null float64
Zip_Mean_Income                            239 non-null object
dtypes: float64(2), int64(15), object(15)
memory usage: 61.6+ KB