In [1]:
import pandas as pd
import pickle

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 25)
pd.set_option('display.precision', 3)

In [2]:
!ls data/pickles

df_Out_Rem.pickle            hs_data_16-18.pickle
features_29columns.pickle    log_grad_inflected.pickle
features_29feat_clean.pickle

In [3]:
with open('data/pickles/hs_data_16-18.pickle', 'rb') as f:
    df = pickle.load(f)

In [4]:
df.head()

,School_ID,Legacy_Unit_ID,Finance_ID,Short_Name,Long_Name,School_Type,Primary_Category,Is_High_School,Is_Middle_School,Is_Elementary_School,Is_Pre_School,Summary,Administrator_Title,Administrator,Secondary_Contact_Title,Secondary_Contact,Address,City,State,Zip_x,Phone,Fax,CPS_School_Profile,Website,Facebook,Twitter,Youtube,Pinterest,Attendance_Boundaries,Grades_Offered_All,Grades_Offered,Student_Count_Total,Student_Count_Low_Income,Student_Count_Special_Ed,Student_Count_English_Learners,Student_Count_Black,Student_Count_Hispanic,Student_Count_White,Student_Count_Asian,Student_Count_Native_American,Student_Count_Other_Ethnicity,Student_Count_Asian_Pacific_Islander,Student_Count_Multi,Student_Count_Hawaiian_Pacific_Islander,Student_Count_Ethnicity_Not_Available,Statistics_Description,Demographic_Description,ADA_Accessible,Dress_Code,PreK_School_Day,Kindergarten_School_Day,School_Hours,Freshman_Start_End_Time,After_School_Hours,Earliest_Drop_Off_Time,Classroom_Languages,Bilingual_Services,Refugee_Services,Title_1_Eligible,PreSchool_Inclusive,Preschool_Instructional,Significantly_Modified,Hard_Of_Hearing,Visual_Impairments,Transportation_Bus,Transportation_El,Transportation_Metra,School_Latitude,School_Longitude,Average_ACT_School,Mean_ACT,College_Enrollment_Rate_School,College_Enrollment_Rate_Mean,Graduation_Rate_School,Graduation_Rate_Mean,Overall_Rating,Rating_Status,Rating_Statement,Classification_Description,School_Year,Third_Contact_Title,Third_Contact_Name,Fourth_Contact_Title,Fourth_Contact_Name,Fifth_Contact_Title,Fifth_Contact_Name,Sixth_Contact_Title,Sixth_Contact_Name,Seventh_Contact_Title,Seventh_Contact_Name,Location,Network,Is_GoCPS_Participant,Is_GoCPS_PreK,Is_GoCPS_Elementary,Is_GoCPS_High_School,Open_For_Enrollment_Date,Closed_For_Enrollment_Date,Zip_y
0,609764,1890,46421,JUAREZ HS,Benito Juarez Community Academy High School,Neighborhood,HS,Y,N,N,N,Juarez offers a particularly wide array of aca...,Principal,Juan Carlos Ocon,Assistant Principal,Keith Adams,1450 W CERMAK RD,Chicago,Illinois,60608.0,7.735e+09,7.735e+09,http://cps.edu/Schools/Pages/school.aspx?Schoo...,http://www.benitojuarez.net,NaN,NaN,NaN,NaN,Y,"9,10,11,12",9-12,1739,1659,281,331,58,1644,12,5,6,0,0,3,0,11,There are 1739 students enrolled at JUAREZ HS....,The largest demographic at JUAREZ HS is Hispan...,Generally accessible,N,NaN,NaN,7:45 AM - 2:35 PM,7:45 a.m. - 2:45 p.m.,2:40 to 8:00 P.M.,7:00 A.M,"French, Spanish",Y,Y,Y,NaN,NaN,NaN,NaN,NaN,"9, 21, 60","Blue, Pink, Red",NaN,41.853,-87.664,16.5,18.4,50.6,57.9,80.9,73.5,Level 2+,Good Standing,"This school received a Level 2+ rating, which ...",Schools that have an attendance boundary. Gene...,School Year 2016-2017,Assistant Principal,Nicholas Aquino,IB Coordinator,Santiago Marquez,NaN,NaN,NaN,NaN,NaN,NaN,"1450 W CERMAK RD\nChicago, Illinois 60608\n(41...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,60608.0
1,609764,1890,46421,JUAREZ HS,Benito Juarez Community Academy High School,NaN,HS,Y,N,N,N,Juarez offers a particularly wide array of aca...,Principal,Juan Carlos Ocon,Assistant Principal,Keith Adams,NaN,NaN,NaN,NaN,7.735e+09,7.735e+09,http://cps.edu/Schools/Pages/school.aspx?Schoo...,http://www.benitojuarez.net,NaN,NaN,NaN,NaN,Y,"9,10,11,12",12-Sep,1706,1068,277,343,53,1608,10,10,6,0,0,6,0,13,There are 1706 students enrolled at JUAREZ HS....,The largest demographic at JUAREZ HS is Hispan...,NaN,N,NaN,NaN,7:45 AM - 2:35 PM,7:45 a.m. - 2:45 p.m.,2:40 to 8:00 P.M.,7:00 A.M,"French, Spanish",Y,Y,Y,NaN,NaN,NaN,NaN,NaN,"9, 21, 60","Blue, Pink, Red",NaN,41.853,-87.664,NaN,NaN,52.2,59.8,78.6,77.5,Level 2+,GOOD STANDING,"This school received a Level 2+ rating, which ...",Schools that have an attendance boundary. Gene...,School Year 2017-2018,Assistant Principal,Nicholas Aquino,IB Coordinator,Santiago Marquez,NaN,NaN,NaN,NaN,NaN,NaN,"1450 W CERMAK RD\nChicago, Illinois 60608\n(41...",ISP,Y,N,N,Y,9/1/04 0:00,NaN,60608.0
2,400054,1931,66142,NOBLE - PRITZKER HS,Noble - Pritzker College Prep,Charter,HS,Y,N,N,N,"We have been accepted as an IB School, and as ...",Director,Ms. Carrie Spitz,Principal,Carrie Spitz,4131 W CORTLAND ST,Chicago,Illinois,60639.0,7.734e+09,7.734e+09,http://cps.edu/Schools/Pages/school.aspx?Schoo...,http://www.pritzkercollegeprep.org,https://www.facebook.com/benoblepritzker,http://twitter.com/benoblepritzker,NaN,NaN,N,"9,10,11,12",9-12,992,936,106,120,30,945,9,1,5,0,0,2,0,0,There are 992 students enrolled at NOBLE - PRI...,The largest demographic at NOBLE - PRITZKER HS...,Generally accessible,Y,NaN,NaN,M - R 8:05AM. - 3:50PM F 8:05- 1:30PM,.,4:00PM-5:30PM,7:00AM,"Russian, Spanish",N,N,Y,NaN,NaN,NaN,NaN,NaN,"53, 72, 73","Blue, Brown",NaN,41.915,-87.730,21.9,18.4,85.7,57.9,90.3,73.5,Level 1+,Not Applicable,"This school received a Level 1+ rating, which ...","Schools that are open to all Chicago children,...",School Year 2016-2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"4131 W CORTLAND ST\nChicago, Illinois 60639\n(...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,60639.0
3,400054,1931,66142,NOBLE - PRITZKER HS,Noble - Pritzker College Prep,NaN,HS,Y,N,N,N,"We have been accepted as an IB School, and as ...",Director,Ms. Carrie Spitz,Principal,Carrie Spitz,NaN,NaN,NaN,NaN,7.734e+09,7.734e+09,http://cps.edu/Schools/Pages/school.aspx?Schoo...,http://www.pritzkercollegeprep.org,https://www.facebook.com/benoblepritzker,http://twitter.com/benoblepritzker,NaN,NaN,N,"9,10,11,12",12-Sep,975,930,105,134,36,923,9,0,5,0,0,2,0,0,There are 975 students enrolled at NOBLE - PRI...,The largest demographic at NOBLE - PRITZKER HS...,NaN,Y,NaN,NaN,M - R 8:05AM. - 3:50PM F 8:05- 1:30PM,.,4:00PM-5:30PM,7:00AM,"Russian, Spanish",N,N,Y,NaN,NaN,NaN,NaN,NaN,"53, 72, 73","Blue, Brown",NaN,41.915,-87.730,NaN,NaN,88.1,59.8,91.3,77.5,Level 1+,NOT APPLICABLE,"This school received a Level 1+ rating, which ...","Schools that are open to all Chicago children,...",School Year 2017-2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"4131 W CORTLAND ST\nChicago, Illinois 60639\n(...",Charter,Y,N,N,Y,9/1/04 0:00,NaN,60639.0
4,609726,1500,47051,BROOKS HS,Gwendolyn Brooks College Preparatory Academy HS,Selective enrollment,HS,Y,Y,N,N,Brooks prepares students to be global leaders ...,Principal,Ms.Shannae Bea Jackson,Assistant Principal,Shannae Jackson,250 E 111TH ST,Chicago,Illinois,60628.0,7.735e+09,7.735e+09,http://cps.edu/Schools/Pages/school.aspx?Schoo...,http://www.brookscollegeprep.org,NaN,https://twitter.com/BrooksPrepCSL,NaN,NaN,N,"7,8,9,10,11,12",7-12,959,692,59,2,757,175,7,1,2,0,0,7,2,8,There are 959 students enrolled at BROOKS HS. ...,The largest demographic at BROOKS HS is Black....,Fully Accessible,N,NaN,NaN,8:00 AM - 3:30 PM,8:00 a.m. - 3:35 p.m.,NaN,6:30 AM,"French, Spanish",N,N,Y,NaN,NaN,Y,NaN,NaN,34111119,Orange,Metra Electric District (ME),41.693,-87.616,22.5,18.4,85.1,57.9,93.4,73.5,Level 1+,Good Standing,"This school received a Level 1+ rating, which ...",Schools that offer a rigorous curriculum with ...,School Year 2016-2017,Assistant Principal,Daniel Bauer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"250 E 111TH ST\nChicago, Illinois 60628\n(41.6...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,60628.0

## Drop data not considered in this model

In [5]:
#drop select columns
df.drop(columns = ['Address', 'Administrator_Title', 'CPS_School_Profile', 
                   'City', 'Classification_Description', 'Closed_For_Enrollment_Date',
                  'College_Enrollment_Rate_Mean', 'College_Enrollment_Rate_School',
                  'Demographic_Description', 'Earliest_Drop_Off_Time', 'Facebook', 
                  'Fax', 'Fifth_Contact_Name', 'Fifth_Contact_Title', 'Finance_ID', 
                  'Fourth_Contact_Name', 'Fourth_Contact_Title', 'Freshman_Start_End_Time',
                  'Grades_Offered', 'Graduation_Rate_Mean', 'Is_Elementary_School', 
                  'Is_GoCPS_Elementary', 'Is_GoCPS_High_School', 'Is_GoCPS_PreK', 
                  'Is_High_School', 'Is_Middle_School', 'Is_Pre_School', 'Kindergarten_School_Day',
                  'Legacy_Unit_ID', 'Long_Name', 'Mean_ACT', 'Open_For_Enrollment_Date', 
                  'Overall_Rating', 'Phone', 'Pinterest', 'PreK_School_Day', 'PreSchool_Inclusive', 
                  'Preschool_Instructional', 'Primary_Category', 'Rating_Statement', 'Rating_Status', 
                  'Refugee_Services', 'School_Type','Secondary_Contact', 'Secondary_Contact_Title', 
                  'Seventh_Contact_Name', 'Seventh_Contact_Title', 'Short_Name', 'Short_Name', 
                  'Significantly_Modified', 'Sixth_Contact_Name', 'Sixth_Contact_Title', 'State',
                  'Statistics_Description', 'Summary', 'Third_Contact_Name', 'Third_Contact_Title', 
                  'Title_1_Eligible', 'Twitter', 'Visual_Impairments', 'Website',
                  'Youtube', 'Zip_x', 'Attendance_Boundaries','Average_ACT_School', 
                   'Bilingual_Services','Hard_Of_Hearing', 'Is_GoCPS_Participant',
                  'School_Latitude', 'School_Longitude', 'Average_ACT_School', 'Location',
                   'Transportation_Bus','Transportation_Metra', 'After_School_Hours','School_Hours'], inplace = True)

In [6]:
list(df)

['School_ID',
 'Administrator',
 'Grades_Offered_All',
 'Student_Count_Total',
 'Student_Count_Low_Income',
 'Student_Count_Special_Ed',
 'Student_Count_English_Learners',
 'Student_Count_Black',
 'Student_Count_Hispanic',
 'Student_Count_White',
 'Student_Count_Asian',
 'Student_Count_Native_American',
 'Student_Count_Other_Ethnicity',
 'Student_Count_Asian_Pacific_Islander',
 'Student_Count_Multi',
 'Student_Count_Hawaiian_Pacific_Islander',
 'Student_Count_Ethnicity_Not_Available',
 'ADA_Accessible',
 'Dress_Code',
 'Classroom_Languages',
 'Transportation_El',
 'Graduation_Rate_School',
 'School_Year',
 'Network',
 'Zip_y']

## Merge Income Data Per Zip for 16/17 and 17/18

In [7]:
df_2016 = df[df['School_Year'] == 'School Year 2016-2017']
df_2016_income = pd.read_csv('data/meanHHincome_2016.csv', header=None)
df_2016_income.columns = ['Zip_y', 'Zip_Mean_Income']
df_2016 = pd.merge(df_2016, df_2016_income, on = 'Zip_y' )

In [8]:
df_2017 = df[df['School_Year'] == 'School Year 2017-2018']
df_2017_income = pd.read_csv('data/meanHHincome_2017.csv', header=None)
df_2017_income.columns = ['Zip_y', 'Zip_Mean_Income']
df_2017 = pd.merge(df_2017, df_2017_income, on = 'Zip_y' )

In [9]:
df = df_2016.append(df_2017)

In [10]:
print(list(df))

['School_ID', 'Administrator', 'Grades_Offered_All', 'Student_Count_Total', 'Student_Count_Low_Income', 'Student_Count_Special_Ed', 'Student_Count_English_Learners', 'Student_Count_Black', 'Student_Count_Hispanic', 'Student_Count_White', 'Student_Count_Asian', 'Student_Count_Native_American', 'Student_Count_Other_Ethnicity', 'Student_Count_Asian_Pacific_Islander', 'Student_Count_Multi', 'Student_Count_Hawaiian_Pacific_Islander', 'Student_Count_Ethnicity_Not_Available', 'ADA_Accessible', 'Dress_Code', 'Classroom_Languages', 'Transportation_El', 'Graduation_Rate_School', 'School_Year', 'Network', 'Zip_y', 'Zip_Mean_Income']

## Fill in ADA accessible and create ADA dummie

In [11]:
# 2016-17 has ADA accessibility data, and I will assume it is the same for 17-18.

In [12]:
ada = df[df['School_Year'] == 'School Year 2016-2017'][['ADA_Accessible', 'School_ID']]

In [13]:
df = pd.merge(df, ada, on = 'School_ID' )
df.drop(columns = 'ADA_Accessible_x', inplace = True)

In [14]:
df['ADA_Accessible_y'].value_counts()

Generally accessible        130
Fully Accessible             66
No/unknown accessibility     43
Name: ADA_Accessible_y, dtype: int64

In [15]:
df = pd.concat((df, pd.get_dummies(df['ADA_Accessible_y'])), axis=1)

In [16]:
df.head()

,School_ID,Administrator,Grades_Offered_All,Student_Count_Total,Student_Count_Low_Income,Student_Count_Special_Ed,Student_Count_English_Learners,Student_Count_Black,Student_Count_Hispanic,Student_Count_White,Student_Count_Asian,Student_Count_Native_American,Student_Count_Other_Ethnicity,Student_Count_Asian_Pacific_Islander,Student_Count_Multi,Student_Count_Hawaiian_Pacific_Islander,Student_Count_Ethnicity_Not_Available,Dress_Code,Classroom_Languages,Transportation_El,Graduation_Rate_School,School_Year,Network,Zip_y,Zip_Mean_Income,ADA_Accessible_y,Fully Accessible,Generally accessible,No/unknown accessibility
0,609764,Juan Carlos Ocon,"9,10,11,12",1739,1659,281,331,58,1644,12,5,6,0,0,3,0,11,N,"French, Spanish","Blue, Pink, Red",80.9,School Year 2016-2017,NaN,60608.0,"53,353",Generally accessible,0,1,0
1,609764,Juan Carlos Ocon,"9,10,11,12",1706,1068,277,343,53,1608,10,10,6,0,0,6,0,13,N,"French, Spanish","Blue, Pink, Red",78.6,School Year 2017-2018,ISP,60608.0,"57,770",Generally accessible,0,1,0
2,400104,Dr. Hillyn Senuholtz,"9,10,11,12",742,720,146,169,24,714,3,0,1,0,0,0,0,0,Y,Spanish,NaN,82.8,School Year 2016-2017,NaN,60608.0,"53,353",No/unknown accessibility,0,0,1
3,400104,Ms. Kimberly Burks,"9,10,11,12",745,693,146,213,14,726,2,0,2,0,0,0,0,1,Y,Spanish,"Blue, Orange, Pink",85.0,School Year 2017-2018,Charter,60608.0,"57,770",No/unknown accessibility,0,0,1
4,609748,Sharnette Sims,"9,10,11,12",199,174,58,2,154,36,6,0,3,0,0,0,0,0,N,NaN,NaN,1.7,School Year 2016-2017,NaN,60608.0,"53,353",No/unknown accessibility,0,0,1

In [17]:
#having [0,0] for fully and generally accessible implies no or unknown accessibility
df.drop(columns = ['No/unknown accessibility','ADA_Accessible_y'], inplace=True)

In [18]:
df.head()

,School_ID,Administrator,Grades_Offered_All,Student_Count_Total,Student_Count_Low_Income,Student_Count_Special_Ed,Student_Count_English_Learners,Student_Count_Black,Student_Count_Hispanic,Student_Count_White,Student_Count_Asian,Student_Count_Native_American,Student_Count_Other_Ethnicity,Student_Count_Asian_Pacific_Islander,Student_Count_Multi,Student_Count_Hawaiian_Pacific_Islander,Student_Count_Ethnicity_Not_Available,Dress_Code,Classroom_Languages,Transportation_El,Graduation_Rate_School,School_Year,Network,Zip_y,Zip_Mean_Income,Fully Accessible,Generally accessible
0,609764,Juan Carlos Ocon,"9,10,11,12",1739,1659,281,331,58,1644,12,5,6,0,0,3,0,11,N,"French, Spanish","Blue, Pink, Red",80.9,School Year 2016-2017,NaN,60608.0,"53,353",0,1
1,609764,Juan Carlos Ocon,"9,10,11,12",1706,1068,277,343,53,1608,10,10,6,0,0,6,0,13,N,"French, Spanish","Blue, Pink, Red",78.6,School Year 2017-2018,ISP,60608.0,"57,770",0,1
2,400104,Dr. Hillyn Senuholtz,"9,10,11,12",742,720,146,169,24,714,3,0,1,0,0,0,0,0,Y,Spanish,NaN,82.8,School Year 2016-2017,NaN,60608.0,"53,353",0,0
3,400104,Ms. Kimberly Burks,"9,10,11,12",745,693,146,213,14,726,2,0,2,0,0,0,0,1,Y,Spanish,"Blue, Orange, Pink",85.0,School Year 2017-2018,Charter,60608.0,"57,770",0,0
4,609748,Sharnette Sims,"9,10,11,12",199,174,58,2,154,36,6,0,3,0,0,0,0,0,N,NaN,NaN,1.7,School Year 2016-2017,NaN,60608.0,"53,353",0,0

## Demographic Percentage Transformation

In [19]:
#Convert student demographic counts to percent of total population
print(list(df))
demog_headings = ['Student_Count_Asian', 'Student_Count_Asian_Pacific_Islander', 'Student_Count_Black', 
                  'Student_Count_English_Learners', 'Student_Count_Ethnicity_Not_Available', 
                  'Student_Count_Hawaiian_Pacific_Islander', 'Student_Count_Hispanic', 
                  'Student_Count_Low_Income', 'Student_Count_Multi', 'Student_Count_Native_American', 
                  'Student_Count_Other_Ethnicity', 'Student_Count_Special_Ed', 'Student_Count_White']
for dem in demog_headings:
    dem_per_heading = dem + '_perc'
    df[dem_per_heading] = df[dem]/df['Student_Count_Total']
    df.drop(columns = dem, inplace=True)

['School_ID', 'Administrator', 'Grades_Offered_All', 'Student_Count_Total', 'Student_Count_Low_Income', 'Student_Count_Special_Ed', 'Student_Count_English_Learners', 'Student_Count_Black', 'Student_Count_Hispanic', 'Student_Count_White', 'Student_Count_Asian', 'Student_Count_Native_American', 'Student_Count_Other_Ethnicity', 'Student_Count_Asian_Pacific_Islander', 'Student_Count_Multi', 'Student_Count_Hawaiian_Pacific_Islander', 'Student_Count_Ethnicity_Not_Available', 'Dress_Code', 'Classroom_Languages', 'Transportation_El', 'Graduation_Rate_School', 'School_Year', 'Network', 'Zip_y', 'Zip_Mean_Income', 'Fully Accessible', 'Generally accessible']

## Language Count Transform

In [20]:
df.Classroom_Languages.value_counts()

Spanish                                                                   96
French, Spanish                                                           39
Spanish, Spanish for Heritage Speakers                                    25
French, Spanish, Spanish for Heritage Speakers                            11
Chinese, French, Spanish                                                   6
Chinese, French, Japanese, Latin, Spanish                                  4
Chinese, Spanish                                                           4
Mandarin, Spanish                                                          3
Chinese, French, Latin, Spanish                                            2
Latin                                                                      2
Arabic, French, Mandarin, Spanish, Spanish for Heritage Speakers           2
Arabic, French, Korean, Polish, Spanish, Spanish for Heritage Speakers     2
                                                                          ..
Latin, Spanish                                                             2
Spanish, Turkish                                                           2
Chinese, French, German, Japanese, Latin, Spanish                          2
American Sign Language                                                     2
American Sign Language, French, Spanish                                    2
American Sign Language, French, Spanish, Spanish for Heritage Speakers     2
Arabic, Japanese, Spanish, Spanish for Heritage Speakers                   1
French, Polish, Spanish, Spanish for Heritage Speakers                     1
Arabic, French, Spanish                                                    1
Arabic, French, Spanish, Spanish for Heritage Speakers                     1
Polish, Spanish, Spanish for Heritage Speakers                             1
Japanese, Spanish, Spanish for Heritage Speakers                           1
Name: Classroom_Languages, Length: 31, dtype: int64

In [44]:
df.Classroom_Languages.isna().sum()

11

In [45]:
df_languages = df[['School_ID', 'Classroom_Languages', 'School_Year']]
#the data appears to show the same value for languages across the two years
#so the data will be transformed on one year to prevent duplication at time of merge
df_languages = df_languages[df_languages['School_Year'] == 'School Year 2016-2017']

In [46]:
#Because this is a comma count, the values with zero commas have 1 language, 
#one comma have 2, etc.
df_languages.Classroom_Languages.str.count(',').value_counts()

0.0    51
1.0    41
2.0    11
3.0     5
4.0     3
5.0     2
9.0     1
7.0     1
Name: Classroom_Languages, dtype: int64

In [47]:
df_languages.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 121 entries, 0 to 237
Data columns (total 3 columns):
School_ID              121 non-null int64
Classroom_Languages    115 non-null object
School_Year            121 non-null object
dtypes: int64(1), object(2)
memory usage: 3.8+ KB

In [48]:
#NaN will be treated as 0 in the language count. 
#Since language count will be performed with a comma count,
#set nan to 15 and reset to 0 after the count is performed.
df_languages.fillna(',,,,,,,,,,,,,,', inplace=True)

In [49]:
df_languages['Classroom_Languages_count'] = (
                                            df_languages['Classroom_Languages'].str.count(',') 
                                            + 1
                                            )

In [50]:
df_languages['Classroom_Languages_count'].value_counts()

1     51
2     41
3     11
15     6
4      5
5      3
6      2
10     1
8      1
Name: Classroom_Languages_count, dtype: int64

In [51]:
df_languages['Classroom_Languages_count'].loc[df_languages['Classroom_Languages_count'] == 15] = 0

In [52]:
df_languages['Classroom_Languages_count'].value_counts()

1     51
2     41
3     11
0      6
4      5
5      3
6      2
10     1
8      1
Name: Classroom_Languages_count, dtype: int64

In [53]:
df_languages.Classroom_Languages_count.isna().sum()

0

In [54]:
df_languages[df_languages['Classroom_Languages_count']==0]

,School_ID,Classroom_Languages,School_Year,Classroom_Languages_count
4,609748,",,,,,,,,,,,,,,",School Year 2016-2017,0
56,400077,",,,,,,,,,,,,,,",School Year 2016-2017,0
127,400033,",,,,,,,,,,,,,,",School Year 2016-2017,0
152,610557,",,,,,,,,,,,,,,",School Year 2016-2017,0
183,609783,",,,,,,,,,,,,,,",School Year 2016-2017,0
225,609766,",,,,,,,,,,,,,,",School Year 2016-2017,0

In [55]:
df_languages.sort_values('Classroom_Languages_count', ascending = False)
df_languages.drop(columns = ['Classroom_Languages', 'School_Year'], inplace=True)

In [56]:
df = pd.merge(df, df_languages, on='School_ID')

In [57]:
df['Classroom_Languages_count'].value_counts()
df['Classroom_Languages_count'].value_counts().sum()

239

In [58]:
for x in df.Classroom_Languages_count:
    print(x)

2
2
1
1
0
0
2
2
1
1
1
1
1
1
2
2
2
2
1
1
4
4
2
2
1
1
1
1
1
1
1
1
1
1
1
1
2
2
8
8
6
6
4
4
2
2
2
2
2
2
1
1
1
1
1
1
0
0
2
2
2
2
2
2
1
1
2
2
1
1
3
3
2
2
2
2
1
1
1
1
1
1
2
2
1
1
1
1
1
1
3
3
2
2
1
1
2
2
1
1
3
3
1
1
3
3
2
2
5
5
4
4
2
2
1
1
1
1
1
1
1
2
2
1
1
2
2
0
0
1
1
2
2
1
1
1
1
1
1
1
1
1
1
1
2
2
2
2
1
1
2
2
0
2
2
10
10
2
2
2
2
3
3
5
5
2
2
1
1
1
1
1
1
2
2
3
3
1
1
2
2
1
1
0
0
1
1
1
1
2
2
3
3
2
2
1
1
2
2
2
2
6
6
3
3
2
2
1
1
1
1
1
1
3
3
2
2
2
2
1
1
4
4
4
4
0
0
2
2
2
2
5
5
3
3
3
3
1
1

## El Dummie Transform

In [60]:
el_df = df[['School_ID', 'Transportation_El', 'School_Year']]

In [61]:
el_df.head(10)

   School_ID   Transportation_El            School_Year
0     609764     Blue, Pink, Red  School Year 2016-2017
1     609764     Blue, Pink, Red  School Year 2017-2018
2     400104                 NaN  School Year 2016-2017
3     400104  Blue, Orange, Pink  School Year 2017-2018
4     609748                 NaN  School Year 2016-2017
5     609748                 NaN  School Year 2017-2018
6     400057          Blue, Pink  School Year 2016-2017
7     400057          Blue, Pink  School Year 2017-2018
8     609750                Pink  School Year 2016-2017
9     609750                Pink  School Year 2017-2018

In [62]:
#Again, like languages, looks like El values are consistent across years.
el_df = el_df[el_df['School_Year'] == 'School Year 2017-2018']

In [63]:
el_df['Transportation_El'].value_counts()

Red                                              16
Blue                                             15
Green, Red                                       12
Green                                            10
Orange                                            7
Blue, Green                                       6
Blue, Red                                         4
Blue, Brown                                       3
Brown                                             3
Pink                                              3
Blue, Brown, Green, Orange, Pink, Purple, Red     2
Blue, Pink, Red                                   2
Brown, Red                                        2
Blue, Brown, Pink, Red                            1
Blue, Brown, Purple, Red                          1
Blue, Orange, Red                                 1
Blue, Pink                                        1
Blue, Orange, Pink                                1
Blue, Brown, Green                                1
Name: Transportation_El, dtype: int64

In [64]:
#replace NaN with no_el so that with dummy variable I can drop No_El
el_df.fillna(value = 'No_El', inplace=True)

In [65]:
el_df

,School_ID,Transportation_El,School_Year
1,609764,"Blue, Pink, Red",School Year 2017-2018
3,400104,"Blue, Orange, Pink",School Year 2017-2018
5,609748,No_El,School Year 2017-2018
7,400057,"Blue, Pink",School Year 2017-2018
9,609750,Pink,School Year 2017-2018
11,400102,Blue,School Year 2017-2018
13,400091,"Blue, Pink, Red",School Year 2017-2018
15,400054,"Blue, Brown",School Year 2017-2018
17,609691,No_El,School Year 2017-2018
19,609716,Blue,School Year 2017-2018
21,609679,No_El,School Year 2017-2018
23,609726,Orange,School Year 2017-2018
...,...,...,...
216,609718,Orange,School Year 2017-2018
218,610391,Green,School Year 2017-2018
220,609711,Blue,School Year 2017-2018
222,609708,Blue,School Year 2017-2018
224,609729,Blue,School Year 2017-2018
226,609766,No_El,School Year 2017-2018
228,609753,No_El,School Year 2017-2018
230,609760,Red,School Year 2017-2018
232,609680,"Brown, Red",School Year 2017-2018
234,609678,"Blue, Brown, Pink, Red",School Year 2017-2018
236,609719,"Blue, Brown, Green, Orange, Pink, Purple, Red",School Year 2017-2018
238,400098,"Blue, Brown, Green, Orange, Pink, Purple, Red",School Year 2017-2018

In [66]:
el_dummies = el_df['Transportation_El'].str.get_dummies(sep = ', ')

In [67]:
el_dummies

     Blue  Brown  Green  No_El  Orange  Pink  Purple  Red
1       1      0      0      0       0     1       0    1
3       1      0      0      0       1     1       0    0
5       0      0      0      1       0     0       0    0
7       1      0      0      0       0     1       0    0
9       0      0      0      0       0     1       0    0
11      1      0      0      0       0     0       0    0
13      1      0      0      0       0     1       0    1
15      1      1      0      0       0     0       0    0
17      0      0      0      1       0     0       0    0
19      1      0      0      0       0     0       0    0
21      0      0      0      1       0     0       0    0
23      0      0      0      0       1     0       0    0
..    ...    ...    ...    ...     ...   ...     ...  ...
216     0      0      0      0       1     0       0    0
218     0      0      1      0       0     0       0    0
220     1      0      0      0       0     0       0    0
222     1      0      0      0       0     0       0    0
224     1      0      0      0       0     0       0    0
226     0      0      0      1       0     0       0    0
228     0      0      0      1       0     0       0    0
230     0      0      0      0       0     0       0    1
232     0      1      0      0       0     0       0    1
234     1      1      0      0       0     1       0    1
236     1      1      1      0       1     1       1    1
238     1      1      1      0       1     1       1    1

[118 rows x 8 columns]

In [68]:
el_dummies.drop(columns = 'No_El', inplace=True)

In [69]:
el_df = pd.merge(el_df,el_dummies, left_index=True, right_index=True)

In [70]:
el_df.head()

,School_ID,Transportation_El,School_Year,Blue,Brown,Green,Orange,Pink,Purple,Red
1,609764,"Blue, Pink, Red",School Year 2017-2018,1,0,0,0,1,0,1
3,400104,"Blue, Orange, Pink",School Year 2017-2018,1,0,0,1,1,0,0
5,609748,No_El,School Year 2017-2018,0,0,0,0,0,0,0
7,400057,"Blue, Pink",School Year 2017-2018,1,0,0,0,1,0,0
9,609750,Pink,School Year 2017-2018,0,0,0,0,1,0,0

In [71]:
el_df.drop(columns = ['Transportation_El', 'School_Year'], inplace=True)

In [72]:
#decide which column to drop for dummies based on column count
line_list = ['Blue','Brown','Green','Orange','Pink','Purple','Red']
for line in line_list:
    print(el_df[line].value_counts())

0    80
1    38
Name: Blue, dtype: int64
0    105
1     13
Name: Brown, dtype: int64
0    87
1    31
Name: Green, dtype: int64
0    107
1     11
Name: Orange, dtype: int64
0    108
1     10
Name: Pink, dtype: int64
0    115
1      3
Name: Purple, dtype: int64
0    77
1    41
Name: Red, dtype: int64

In [73]:
df = pd.merge(df, el_df, on='School_ID')

In [74]:
df

,School_ID,Administrator,Grades_Offered_All,Student_Count_Total,Dress_Code,Classroom_Languages,Transportation_El,Graduation_Rate_School,School_Year,Network,Zip_y,Zip_Mean_Income,Fully Accessible,Generally accessible,Student_Count_Asian_perc,Student_Count_Asian_Pacific_Islander_perc,Student_Count_Black_perc,Student_Count_English_Learners_perc,Student_Count_Ethnicity_Not_Available_perc,Student_Count_Hawaiian_Pacific_Islander_perc,Student_Count_Hispanic_perc,Student_Count_Low_Income_perc,Student_Count_Multi_perc,Student_Count_Native_American_perc,Student_Count_Other_Ethnicity_perc,Student_Count_Special_Ed_perc,Student_Count_White_perc,Classroom_Languages_count,Blue,Brown,Green,Orange,Pink,Purple,Red
0,609764,Juan Carlos Ocon,"9,10,11,12",1739,N,"French, Spanish","Blue, Pink, Red",80.9,School Year 2016-2017,NaN,60608.0,"53,353",0,1,0.003,0.000e+00,0.033,0.190,6.325e-03,0.000,0.945,0.954,0.002,0.003,0.0,0.162,0.007,2,1,0,0,0,1,0,1
1,609764,Juan Carlos Ocon,"9,10,11,12",1706,N,"French, Spanish","Blue, Pink, Red",78.6,School Year 2017-2018,ISP,60608.0,"57,770",0,1,0.006,0.000e+00,0.031,0.201,7.620e-03,0.000,0.943,0.626,0.004,0.004,0.0,0.162,0.006,2,1,0,0,0,1,0,1
2,400104,Dr. Hillyn Senuholtz,"9,10,11,12",742,Y,Spanish,NaN,82.8,School Year 2016-2017,NaN,60608.0,"53,353",0,0,0.000,0.000e+00,0.032,0.228,0.000e+00,0.000,0.962,0.970,0.000,0.001,0.0,0.197,0.004,1,1,0,0,1,1,0,0
3,400104,Ms. Kimberly Burks,"9,10,11,12",745,Y,Spanish,"Blue, Orange, Pink",85.0,School Year 2017-2018,Charter,60608.0,"57,770",0,0,0.000,0.000e+00,0.019,0.286,1.342e-03,0.000,0.974,0.930,0.000,0.003,0.0,0.196,0.003,1,1,0,0,1,1,0,0
4,609748,Sharnette Sims,"9,10,11,12",199,N,NaN,NaN,1.7,School Year 2016-2017,NaN,60608.0,"53,353",0,0,0.000,0.000e+00,0.774,0.010,0.000e+00,0.000,0.181,0.874,0.000,0.015,0.0,0.291,0.030,0,0,0,0,0,0,0,0
5,609748,Sharnette Sims,"9,10,11,12",184,N,NaN,NaN,2.3,School Year 2017-2018,Network 16,60608.0,"57,770",0,0,0.000,0.000e+00,0.777,0.027,0.000e+00,0.000,0.196,0.967,0.011,0.011,0.0,0.272,0.005,0,0,0,0,0,0,0,0
6,400057,Tressie McDonough,"9,10,11,12",954,Y,"Spanish, Spanish for Heritage Speakers","Blue, Pink",83.3,School Year 2016-2017,NaN,60608.0,"53,353",0,1,0.034,0.000e+00,0.309,0.084,2.096e-03,0.002,0.635,0.853,0.002,0.003,0.0,0.148,0.013,2,1,0,0,0,1,0,0
7,400057,Ms. Audrey Borling,"9,10,11,12",931,Y,"Spanish, Spanish for Heritage Speakers","Blue, Pink",92.4,School Year 2017-2018,Charter,60608.0,"57,770",0,1,0.031,0.000e+00,0.303,0.104,3.222e-03,0.001,0.642,0.840,0.004,0.003,0.0,0.142,0.012,2,1,0,0,0,1,0,0
8,609750,Mrs.Sherita D Carter-King,"6,7,8,9,10,11,12",38,N,Spanish,Pink,21.4,School Year 2016-2017,NaN,60608.0,"53,353",0,0,0.000,0.000e+00,0.737,0.053,0.000e+00,0.000,0.211,0.974,0.000,0.000,0.0,0.158,0.053,1,0,0,0,0,1,0,0
9,609750,Mrs.Sherita D Carter-King,"6,7,8,9,10,11,12",34,N,Spanish,Pink,23.1,School Year 2017-2018,Network 15,60608.0,"57,770",0,0,0.000,0.000e+00,0.735,0.088,0.000e+00,0.000,0.265,0.735,0.000,0.000,0.0,0.088,0.000,1,0,0,0,0,1,0,0
10,400102,Mr. Patrick Robinson,"9,10,11,12",225,Y,Spanish,NaN,64.1,School Year 2016-2017,NaN,60608.0,"53,353",0,1,0.000,0.000e+00,0.978,0.000,0.000e+00,0.000,0.013,0.876,0.009,0.000,0.0,0.262,0.000,1,1,0,0,0,0,0,0
11,400102,Mr. Cory Cain,"9,10,11,12",176,Y,Spanish,Blue,57.3,School Year 2017-2018,Charter,60608.0,"57,770",0,1,0.000,0.000e+00,0.960,0.000,0.000e+00,0.000,0.023,0.511,0.011,0.006,0.0,0.295,0.000,1,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,609753,William Edwin Hook,"9,10,11,12",723,N,"French, Spanish",NaN,74.7,School Year 2016-2017,NaN,60655.0,"102,480",0,1,0.003,0.000e+00,0.411,0.011,4.149e-03,0.004,0.181,0.450,0.018,0.010,0.0,0.183,0.369,2,0,0,0,0,0,0,0
225,609753,William Edwin Hook,"9,10,11,12",767,N,"French, Spanish",NaN,83.9,School Year 2017-2018,ISP,60655.0,"105,761",0,1,0.003,0.000e+00,0.441,0.014,0.000e+00,0.001,0.176,0.237,0.020,0.008,0.0,0.194,0.352,2,0,0,0,0,0,0,0
226,609760,Steven E Rouse,"9,10,11,12",479,Y,"French, Spanish",Red,91.0,School Year 2016-2017,NaN,60627.0,"70,618",0,1,0.000,0.000e+00,0.401,0.038,0.000e+00,0.000,0.587,0.925,0.004,0.002,0.0,0.054,0.006,2,0,0,0,0,0,0,1
227,609760,Steven E Rouse,"9,10,11,12",482,Y,"French, Spanish",Red,89.9,School Year 2017-2018,Network 17,60627.0,"74,139",0,1,0.000,0.000e+00,0.357,0.046,2.075e-03,0.000,0.627,0.807,0.002,0.000,0.0,0.054,0.012,2,0,0,0,0,0,0,1
228,609680,Timothy Patrick Devine,"9,10,11,12",1072,N,"Chinese, French, Japanese, Latin, Spanish","Brown, Red",95.3,School Year 2016-2017,NaN,60610.0,"126,807",1,0,0.179,0.000e+00,0.110,0.007,0.000e+00,0.007,0.219,0.323,0.048,0.004,0.0,0.045,0.434,5,0,1,0,0,0,0,1
229,609680,Timothy Patrick Devine,"9,10,11,12",1153,N,"Chinese, French, Japanese, Latin, Spanish","Brown, Red",98.5,School Year 2017-2018,ISP,60610.0,"132,877",1,0,0.174,0.000e+00,0.108,0.004,0.000e+00,0.007,0.222,0.280,0.050,0.002,0.0,0.045,0.436,5,0,1,0,0,0,0,1
230,609678,Dr.Paul J Powers,"9,10,11,12",1866,N,"Chinese, French, Spanish","Blue, Brown, Pink, Red",91.8,School Year 2016-2017,NaN,60605.0,"141,228",0,1,0.130,5.359e-04,0.139,0.009,3.966e-02,0.008,0.283,0.392,0.038,0.003,0.0,0.068,0.359,3,1,1,0,0,1,0,1
231,609678,Dr.Paul J Powers,"9,10,11,12",1918,N,"Chinese, French, Spanish","Blue, Brown, Pink, Red",98.1,School Year 2017-2018,ISP,60605.0,"157,763",0,1,0.143,1.043e-03,0.119,0.011,5.214e-04,0.006,0.294,0.371,0.041,0.003,0.0,0.058,0.393,3,1,1,0,0,1,0,1
232,609719,Paul Joseph Karafiol,"9,10,11,12",1387,N,"French, Spanish, Spanish for Heritage Speakers","Blue, Brown, Green, Orange, Pink, Purple, Red",91.2,School Year 2016-2017,NaN,60613.0,"105,717",0,1,0.037,0.000e+00,0.092,0.074,0.000e+00,0.003,0.707,0.809,0.020,0.007,0.0,0.166,0.134,3,1,1,1,1,1,1,1
233,609719,Paul Joseph Karafiol,"9,10,11,12",1385,N,"French, Spanish, Spanish for Heritage Speakers","Blue, Brown, Green, Orange, Pink, Purple, Red",88.2,School Year 2017-2018,Network 14,60613.0,"113,058",0,1,0.030,0.000e+00,0.103,0.094,7.220e-04,0.002,0.705,0.569,0.022,0.006,0.0,0.173,0.130,3,1,1,1,1,1,1,1
234,400098,Ms. Emily Mason,"9,10,11,12",964,Y,Spanish,"Blue, Brown, Green, Orange, Pink, Purple, Red",86.4,School Year 2016-2017,NaN,60602.0,"101,869",0,1,0.039,0.000e+00,0.273,0.068,5.187e-03,0.000,0.670,0.834,0.004,0.002,0.0,0.114,0.006,1,1,1,1,1,1,1,1
235,400098,Ms. Emily Mason,"9,10,11,12",973,Y,Spanish,"Blue, Brown, Green, Orange, Pink, Purple, Red",94.8,School Year 2017-2018,Charter,60602.0,"172,492",0,1,0.037,0.000e+00,0.288,0.076,0.000e+00,0.000,0.663,0.842,0.005,0.003,0.0,0.115,0.004,1,1,1,1,1,1,1,1

In [ ]:
df.info()

## Make Dress Code Binary

In [75]:
df["Dress_Code_dummie"] = pd.get_dummies(df['Dress_Code'], drop_first = True)

In [76]:
df.drop(columns='Dress_Code', inplace=True)

In [77]:
df.head()

,School_ID,Administrator,Grades_Offered_All,Student_Count_Total,Classroom_Languages,Transportation_El,Graduation_Rate_School,School_Year,Network,Zip_y,Zip_Mean_Income,Fully Accessible,Generally accessible,Student_Count_Asian_perc,Student_Count_Asian_Pacific_Islander_perc,Student_Count_Black_perc,Student_Count_English_Learners_perc,Student_Count_Ethnicity_Not_Available_perc,Student_Count_Hawaiian_Pacific_Islander_perc,Student_Count_Hispanic_perc,Student_Count_Low_Income_perc,Student_Count_Multi_perc,Student_Count_Native_American_perc,Student_Count_Other_Ethnicity_perc,Student_Count_Special_Ed_perc,Student_Count_White_perc,Classroom_Languages_count,Blue,Brown,Green,Orange,Pink,Purple,Red,Dress_Code_dummie
0,609764,Juan Carlos Ocon,"9,10,11,12",1739,"French, Spanish","Blue, Pink, Red",80.9,School Year 2016-2017,NaN,60608.0,"53,353",0,1,0.003,0.0,0.033,0.190,0.006,0.0,0.945,0.954,0.002,0.003,0.0,0.162,0.007,2,1,0,0,0,1,0,1,0
1,609764,Juan Carlos Ocon,"9,10,11,12",1706,"French, Spanish","Blue, Pink, Red",78.6,School Year 2017-2018,ISP,60608.0,"57,770",0,1,0.006,0.0,0.031,0.201,0.008,0.0,0.943,0.626,0.004,0.004,0.0,0.162,0.006,2,1,0,0,0,1,0,1,0
2,400104,Dr. Hillyn Senuholtz,"9,10,11,12",742,Spanish,NaN,82.8,School Year 2016-2017,NaN,60608.0,"53,353",0,0,0.000,0.0,0.032,0.228,0.000,0.0,0.962,0.970,0.000,0.001,0.0,0.197,0.004,1,1,0,0,1,1,0,0,1
3,400104,Ms. Kimberly Burks,"9,10,11,12",745,Spanish,"Blue, Orange, Pink",85.0,School Year 2017-2018,Charter,60608.0,"57,770",0,0,0.000,0.0,0.019,0.286,0.001,0.0,0.974,0.930,0.000,0.003,0.0,0.196,0.003,1,1,0,0,1,1,0,0,1
4,609748,Sharnette Sims,"9,10,11,12",199,NaN,NaN,1.7,School Year 2016-2017,NaN,60608.0,"53,353",0,0,0.000,0.0,0.774,0.010,0.000,0.0,0.181,0.874,0.000,0.015,0.0,0.291,0.030,0,0,0,0,0,0,0,0,0

## Grades offered count

In [78]:
df.Grades_Offered_All.value_counts()

9,10,11,12                      191
7,8,9,10,11,12                   18
6,7,8,9,10,11,12                 17
10,11,12                          3
PK,9,10,11,12                     2
3,4,5,6,7,8,9,10,11,12            2
K,1,2,3,4,5,6,7,8,9,10,11,12      2
8,9,10,11,12                      1
Name: Grades_Offered_All, dtype: int64

In [79]:
df_grades = df[['Grades_Offered_All', 'School_ID']]

In [80]:
df_grades['grades_offered_count'] = (
                                            df_grades['Grades_Offered_All'].str.count(',') 
                                            + 1
                                            )

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [81]:
df_grades.grades_offered_count.value_counts()

4     191
6      18
7      17
5       3
3       3
13      2
10      2
Name: grades_offered_count, dtype: int64

In [82]:
df_grades.drop(columns = ['Grades_Offered_All'], inplace=True)

/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [83]:
df_grades.drop_duplicates('School_ID', inplace=True)
df_grades.sort_values('grades_offered_count')

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

     School_ID  grades_offered_count
0       609764                     4
168     609727                     4
166     609754                     4
162     609695                     4
160     609749                     4
158     609737                     4
154     400013                     4
150     610524                     4
148     609698                     4
146     400087                     4
144     609676                     4
170     609751                     4
..         ...                   ...
130     609725                     6
90      610529                     7
86      400061                     7
190     400035                     7
180     609783                     7
118     400052                     7
140     400064                     7
56      400077                     7
8       609750                     7
164     400066                     7
126     400033                    10
40      400036                    13

[118 rows x 2 columns]

In [84]:
df = pd.merge(df, df_grades, on='School_ID')

In [85]:
df.drop(columns = ['Classroom_Languages', 'Grades_Offered_All'], inplace=True)

In [86]:
df.head()

,School_ID,Administrator,Student_Count_Total,Transportation_El,Graduation_Rate_School,School_Year,Network,Zip_y,Zip_Mean_Income,Fully Accessible,Generally accessible,Student_Count_Asian_perc,Student_Count_Asian_Pacific_Islander_perc,Student_Count_Black_perc,Student_Count_English_Learners_perc,Student_Count_Ethnicity_Not_Available_perc,Student_Count_Hawaiian_Pacific_Islander_perc,Student_Count_Hispanic_perc,Student_Count_Low_Income_perc,Student_Count_Multi_perc,Student_Count_Native_American_perc,Student_Count_Other_Ethnicity_perc,Student_Count_Special_Ed_perc,Student_Count_White_perc,Classroom_Languages_count,Blue,Brown,Green,Orange,Pink,Purple,Red,Dress_Code_dummie,grades_offered_count
0,609764,Juan Carlos Ocon,1739,"Blue, Pink, Red",80.9,School Year 2016-2017,NaN,60608.0,"53,353",0,1,0.003,0.0,0.033,0.190,0.006,0.0,0.945,0.954,0.002,0.003,0.0,0.162,0.007,2,1,0,0,0,1,0,1,0,4
1,609764,Juan Carlos Ocon,1706,"Blue, Pink, Red",78.6,School Year 2017-2018,ISP,60608.0,"57,770",0,1,0.006,0.0,0.031,0.201,0.008,0.0,0.943,0.626,0.004,0.004,0.0,0.162,0.006,2,1,0,0,0,1,0,1,0,4
2,400104,Dr. Hillyn Senuholtz,742,NaN,82.8,School Year 2016-2017,NaN,60608.0,"53,353",0,0,0.000,0.0,0.032,0.228,0.000,0.0,0.962,0.970,0.000,0.001,0.0,0.197,0.004,1,1,0,0,1,1,0,0,1,4
3,400104,Ms. Kimberly Burks,745,"Blue, Orange, Pink",85.0,School Year 2017-2018,Charter,60608.0,"57,770",0,0,0.000,0.0,0.019,0.286,0.001,0.0,0.974,0.930,0.000,0.003,0.0,0.196,0.003,1,1,0,0,1,1,0,0,1,4
4,609748,Sharnette Sims,199,NaN,1.7,School Year 2016-2017,NaN,60608.0,"53,353",0,0,0.000,0.0,0.774,0.010,0.000,0.0,0.181,0.874,0.000,0.015,0.0,0.291,0.030,0,0,0,0,0,0,0,0,0,4

## Charter Dummie

In [87]:
df_networks = df[['School_ID', 'Network', 'School_Year']]

In [88]:
df_networks.Network.value_counts()

Charter       30
Network 17    18
Network 16    18
Network 15    17
Network 14    15
ISP           11
AUSL           5
Contract       2
Name: Network, dtype: int64

In [89]:
df_networks2017 = df_networks[df_networks['School_Year']=='School Year 2017-2018']

In [90]:
df_networks2017.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 1 to 235
Data columns (total 3 columns):
School_ID      118 non-null int64
Network        116 non-null object
School_Year    118 non-null object
dtypes: int64(1), object(2)
memory usage: 3.7+ KB

In [91]:
def charter(row):
    if row['Network'] == 'Charter':
        return 1
    else:
        return 0

In [92]:
df_networks2017['charter'] = df_networks2017.apply(lambda row: charter(row), axis=1)
df_networks2017.drop(columns=['School_Year', 'Network'], inplace=True)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [93]:
df_networks2017.head()

   School_ID  charter
1     609764        0
3     400104        1
5     609748        0
7     400057        1
9     609750        0

In [94]:
df_networks2017.charter.value_counts()

0    88
1    30
Name: charter, dtype: int64

In [95]:
df = pd.merge(df, df_networks2017, on='School_ID')

In [96]:
df.drop(columns='Network', inplace=True)

## Admin. Gender

In [98]:
import re

In [99]:
df_admin = df[['Administrator', 'School_ID']]

In [100]:
df_admin.drop_duplicates('School_ID')

                 Administrator  School_ID
0             Juan Carlos Ocon     609764
2         Dr. Hillyn Senuholtz     400104
4               Sharnette Sims     609748
6            Tressie McDonough     400057
8    Mrs.Sherita D Carter-King     609750
10        Mr. Patrick Robinson     400102
12          Ms. Linnea Garrett     400091
14            Ms. Carrie Spitz     400054
16         Ms.Emily Ann Feltes     609691
18           Leticia Hernandez     609716
20              Mr.Mark Schall     609679
22      Ms.Shannae Bea Jackson     609726
..                         ...        ...
212          George Z Szkapiak     609718
214      Mr.Wayne Joseph Bevis     610391
216     Mrs.Leonetta C Sanders     609711
218               Wayne K Issa     609708
220        Anthony N Rodriguez     609729
222       Noel Francis Mcnally     609766
224         William Edwin Hook     609753
226             Steven E Rouse     609760
228     Timothy Patrick Devine     609680
230           Dr.Paul J Powers     609678
232       Paul Joseph Karafiol     609719
234            Ms. Emily Mason     400098

[118 rows x 2 columns]

In [101]:
gender = re.compile(r'Mrs|Ms|Mr')
#female_title = re.compile(r'Mrs|Ms')

In [102]:
df_admin['gender_marker'] = df_admin['Administrator'].astype(str).str.match(gender)
df_admin.drop_duplicates('School_ID', inplace=True)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [103]:
df_admin.gender_marker.value_counts()

False    72
True     46
Name: gender_marker, dtype: int64

In [104]:
male_marker = re.compile(r'Mr|Juan|Richard|Ali|Kevin|Douglas|Raul|Victor|Abdul|Charles|Antonio|Brian|Francisco|\
        Sheldon|Michael|Stephen|Peter|Gregory|Trent|Myron|Gerald|Elias|Octavio|Matthew|\
        David|Leonard|Ferdinand|Fernando|Mark|Patrick|George|Wayne|Anthony|William|\
        Stephen|Timothy|Paul')
female_marker = re.compile(r'Mrs|Ms|Dr. Hillyn|Sharnette|Tressie|Leticia|Priscilla|Joyce|Stephanie|Tanya|Veronica|Kathy|\
         Sandra|Torry|Stephanie|Carolyn|Milena|Vanesa|Breanda|Laura|Kelly|Anna|Nancy|\
         Tamika|Janice|Mary|Shanele|Falilat|Dr.Femi|Noel|Tawanna|Tonya|Sandra|Dr. Vanesa|Tamika')
print(df_admin[df_admin['gender_marker']==False].Administrator.values)

['Juan Carlos Ocon' 'Dr. Hillyn Senuholtz' 'Sharnette Sims'
 'Tressie McDonough' 'Leticia Hernandez' 'Richard C Smith Jr'
 'Ali N Muhammad' 'Tawanna Patton' 'Kevin John Gallick'
 'Douglas Lloyd Maclin' 'Priscilla Horton' 'Joyce Dorsey Kenner'
 'Dr. Richard Lebron' 'Raul Magdaleno' 'Victor Iturralde'
 'Abdul K Muhammad' 'Charles Anderson Jr' 'Antonio Deangelo Ross'
 'Stephanie Yvette Moore' 'Tonya Hammaker' 'Veronica M Iturralde'
 'Kathy Farr' 'Charles Naphtali Smith' 'Brian Joseph Rogers'
 'Francisco Albert Borras' 'Sheldon Dion House' 'Michael S Beyer'
 'Stephen Joseph Ngo' 'Sandra Kay Carlson' 'Peter J Auffant'
 'Torry A. Bennett' 'Michael Joseph Boraz' 'Gregory L Jones'
 'Stephanie K Glover-Douglas' 'Trent Kelly' 'Myron L Hester'
 'Carolyn Dolores Epps' 'Michael Wm Durr' 'Milena Nedeljkovic'
 'Gerald J Morrow' 'Dr. Vanesa Scott-Thompson' 'Elias Estrada'
 'Brian Craig Tennison' 'Brenda Stolle' 'Laura A Lemone' 'Kelly L Mest'
 'Anna Pavichevich' 'Octavio Casas' 'Matthew G Sullivan' 'David Narain'
 'Nancy Marie Wiley' 'Tamika Ball' 'Leonard Harris' 'Ferdinand Wipachit'
 'Janice Elaine Wells' 'Fernando S Mojica' 'Mark Grishaber'
 'Mary Patricia Beck' 'Michael Jerome Biela' 'Shanele E Andrews'
 'Falilat O Shokunbi' 'Dr.Femi S. Skanes' 'Patrick Mcgill'
 'George Z Szkapiak' 'Wayne K Issa' 'Anthony N Rodriguez'
 'Noel Francis Mcnally' 'William Edwin Hook' 'Steven E Rouse'
 'Timothy Patrick Devine' 'Dr.Paul J Powers' 'Paul Joseph Karafiol']

In [105]:
df_admin['gender_f'] = df_admin['Administrator'].astype(str).str.match(female_marker)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [106]:
df_admin[df_admin['gender_f'] == False].values

array([['Juan Carlos Ocon', 609764, False, False],
       ['Mr. Patrick Robinson', 400102, True, False],
       ['Mr.Mark Schall', 609679, True, False],
       ['Richard C Smith Jr', 609705, False, False],
       ['Ali N Muhammad', 609761, False, False],
       ['Kevin John Gallick', 609739, False, False],
       ['Douglas Lloyd Maclin', 609674, False, False],
       ['Dr. Richard Lebron', 400036, False, False],
       ['Raul Magdaleno', 609715, False, False],
       ['Victor Iturralde', 610543, False, False],
       ['Abdul K Muhammad', 610245, False, False],
       ['Charles Anderson Jr', 610244, False, False],
       ['Antonio Deangelo Ross', 609713, False, False],
       ['Charles Naphtali Smith', 610384, False, False],
       ['Brian Joseph Rogers', 610392, False, False],
       ['Francisco Albert Borras', 610357, False, False],
       ['Sheldon Dion House', 609692, False, False],
       ['Mr. Eron Powell', 400062, True, False],
       ['Mr. Eron Powell', 400061, True, False],
       ['Michael S Beyer', 610529, False, False],
       ['Stephen Joseph Ngo', 609732, False, False],
       ['Peter J Auffant', 609724, False, False],
       ['Michael Joseph Boraz', 609738, False, False],
       ['Gregory L Jones', 609746, False, False],
       ['Mr.Larry D. Varn', 609712, True, False],
       ['Trent Kelly', 400052, False, False],
       ['Mr.Maurice Swinney', 609735, True, False],
       ['Myron L Hester', 609762, False, False],
       ['Mr. Matt Brown', 400106, True, False],
       ['Mr. Dion Steele', 400086, True, False],
       ['Michael Wm Durr', 609768, False, False],
       ['Mr. Conrad Timbers-Ausar', 400105, True, False],
       ['Gerald J Morrow', 609676, False, False],
       ['Elias Estrada', 610524, False, False],
       ['Brian Craig Tennison', 609720, False, False],
       ['Brenda Stolle', 400013, False, False],
       ['Mr.Daniel M Kramer', 609728, True, False],
       ['Mr. Stephen Todd', 400066, True, False],
       ['Octavio Casas', 609754, False, False],
       ['Matthew G Sullivan', 609727, False, False],
       ['David Narain', 609751, False, False],
       ['Mr.Devon Herrick', 609694, True, False],
       ['Leonard Harris', 609783, False, False],
       ['Ferdinand Wipachit', 610304, False, False],
       ['Mr.Chad H Adams', 609733, True, False],
       ['Mr. Michael Kuran', 400035, True, False],
       ['Fernando S Mojica', 609759, False, False],
       ['Mr. Michael Wang', 400022, True, False],
       ['Mark Grishaber', 609734, False, False],
       ['Michael Jerome Biela', 610390, False, False],
       ['Patrick Mcgill', 609693, False, False],
       ['George Z Szkapiak', 609718, False, False],
       ['Mr.Wayne Joseph Bevis', 610391, True, False],
       ['Wayne K Issa', 609708, False, False],
       ['Anthony N Rodriguez', 609729, False, False],
       ['William Edwin Hook', 609753, False, False],
       ['Steven E Rouse', 609760, False, False],
       ['Timothy Patrick Devine', 609680, False, False],
       ['Dr.Paul J Powers', 609678, False, False],
       ['Paul Joseph Karafiol', 609719, False, False]], dtype=object)

In [107]:
df_admin.gender_f.value_counts()

False    60
True     58
Name: gender_f, dtype: int64

In [108]:
list(df_admin)

['Administrator', 'School_ID', 'gender_marker', 'gender_f']

In [109]:
df_admin.drop(columns = ['Administrator', 'gender_marker'], inplace=True)

/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [110]:
df = pd.merge(df, df_admin, on='School_ID')

In [111]:
def gender(row):
    if row['gender_f'] == True:
        return 1
    else:
        return 0

In [112]:
df['gender_f_bn'] = df.apply(lambda row: gender(row), axis=1)

In [113]:
df.head(5)

,School_ID,Administrator,Student_Count_Total,Transportation_El,Graduation_Rate_School,School_Year,Zip_y,Zip_Mean_Income,Fully Accessible,Generally accessible,Student_Count_Asian_perc,Student_Count_Asian_Pacific_Islander_perc,Student_Count_Black_perc,Student_Count_English_Learners_perc,Student_Count_Ethnicity_Not_Available_perc,Student_Count_Hawaiian_Pacific_Islander_perc,Student_Count_Hispanic_perc,Student_Count_Low_Income_perc,Student_Count_Multi_perc,Student_Count_Native_American_perc,Student_Count_Other_Ethnicity_perc,Student_Count_Special_Ed_perc,Student_Count_White_perc,Classroom_Languages_count,Blue,Brown,Green,Orange,Pink,Purple,Red,Dress_Code_dummie,grades_offered_count,charter,gender_f,gender_f_bn
0,609764,Juan Carlos Ocon,1739,"Blue, Pink, Red",80.9,School Year 2016-2017,60608.0,"53,353",0,1,0.003,0.0,0.033,0.190,0.006,0.0,0.945,0.954,0.002,0.003,0.0,0.162,0.007,2,1,0,0,0,1,0,1,0,4,0,False,0
1,609764,Juan Carlos Ocon,1706,"Blue, Pink, Red",78.6,School Year 2017-2018,60608.0,"57,770",0,1,0.006,0.0,0.031,0.201,0.008,0.0,0.943,0.626,0.004,0.004,0.0,0.162,0.006,2,1,0,0,0,1,0,1,0,4,0,False,0
2,400104,Dr. Hillyn Senuholtz,742,NaN,82.8,School Year 2016-2017,60608.0,"53,353",0,0,0.000,0.0,0.032,0.228,0.000,0.0,0.962,0.970,0.000,0.001,0.0,0.197,0.004,1,1,0,0,1,1,0,0,1,4,1,True,1
3,400104,Ms. Kimberly Burks,745,"Blue, Orange, Pink",85.0,School Year 2017-2018,60608.0,"57,770",0,0,0.000,0.0,0.019,0.286,0.001,0.0,0.974,0.930,0.000,0.003,0.0,0.196,0.003,1,1,0,0,1,1,0,0,1,4,1,True,1
4,609748,Sharnette Sims,199,NaN,1.7,School Year 2016-2017,60608.0,"53,353",0,0,0.000,0.0,0.774,0.010,0.000,0.0,0.181,0.874,0.000,0.015,0.0,0.291,0.030,0,0,0,0,0,0,0,0,0,4,0,True,1

In [ ]:
df.drop(columns = ['Administrator','After_School_Hours', '', 'gender_f'], inplace = True)

In [ ]:
df.head()

## Pickle 29 Feature Columns

In [ ]:
with open('data/pickles/features_29columns.pickle', 'wb') as to_write:
    pickle.dump(df, to_write)

## Can't Get Working: After School Hours

In [ ]:
#df_as_hours = df[['After_School_Hours', 'School_ID']]

In [ ]:
#print(df_as_hours['After_School_Hours'].value_counts())

In [ ]:
#df_as_hours['as_start'] = df_as_hours['After_School_Hours'].astype(str).str[0:4]

In [ ]:
#df_as_hours.head(30)

In [ ]:
#df_as_hours.as_start.value_counts()

In [ ]:
#df_as_hours['no_pm'] = df_as_hours.After_School_Hours.str.replace('P.M.', '')

In [ ]:
#df_as_hours['no_pm'] = df_as_hours.no_pm.str.replace('PM', '')

In [ ]:
#df_as_hours['as_end'] = df_as_hours['no_pm'].astype(str).str[-5:]

In [ ]:
#df_as_hours.as_end = df_as_hours.as_end.str.replace('-', '')

In [ ]:
#df_as_hours.as_end.value_counts()

In [ ]:
#import re

In [ ]:
#after_end_dash = re.compile(r"\-(.*)")
#after_end_to = re.compile(r"t(.*)")

In [ ]:
'''
for hour_range in df['After_School_Hours'].items():
    #print(hour_range[1])
    if '-' in str(hour_range[1]):
        df_as_hours['as_stop'] = after_end_dash.search(hour_range[1])
    elif 'to' in str(hour_range[1]):
            df_as_hours['as_stop']=after_end_to.search(hour_range[1])

'''

In [ ]:
#df_as_hours.as_stop.value_counts()