The school year profile `csvs` have been downloaded from the [Chicago Data Portal](https://data.cityofchicago.org/).

## School Year Profiles

The first source of data are the school year profiles:

  - [2016-2017 Profile](https://data.cityofchicago.org/Education/Chicago-Public-Schools-School-Profile-Information-/8i6r-et8s)
  - [2017-2018 Profile](https://data.cityofchicago.org/Education/Chicago-Public-Schools-School-Profile-Information-/w4qj-h7bg)
  - [2018-2019 Profile](https://data.cityofchicago.org/Education/Chicago-Public-Schools-School-Profile-Information-/kh4r-387c)

Files should be downloaded and placed in the `data/chicago_data_portal_csv_files` folder.

There are slight differences in the csv files which require quick preprocessing steps.  These preprocessing steps are packaged in the `src/preprocessing` folder

In [1]:
# Imports to ensure modules import correctly. 

import os, sys

# Set absolute path to the root folder of the directory
full_path = os.getcwd()
home_folder = 'CPS_GradRate_Analysis'
root = full_path.split(home_folder)[0] + home_folder + '/'
sys.path.append(root)

%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
pd.set_option('display.max_columns', None)
import numpy as np
from src.preprocessing.preprocessing import years, paths
from src.preprocessing.preprocessing import create_sp_path_dictionary, import_multiple_sy_profiles

2015-2016 missing

In [105]:
# Load available csvs into a dictionary of dataframes
sp_paths = create_sp_path_dictionary(years[:-1], paths)
df_dict = import_multiple_sy_profiles(sp_paths)

In [106]:
df_dict['2017-2018'].head()

,School_ID,Legacy_Unit_ID,Finance_ID,Short_Name,Long_Name,Primary_Category,Is_High_School,Is_Middle_School,Is_Elementary_School,Is_Pre_School,Summary,Administrator_Title,Administrator,Secondary_Contact_Title,Secondary_Contact,Phone,Fax,CPS_School_Profile,Website,Facebook,Twitter,Youtube,Pinterest,Attendance_Boundaries,Grades_Offered_All,Grades_Offered,Student_Count_Total,Student_Count_Low_Income,Student_Count_Special_Ed,Student_Count_English_Learners,Student_Count_Black,Student_Count_Hispanic,Student_Count_White,Student_Count_Asian,Student_Count_Native_American,Student_Count_Other_Ethnicity,Student_Count_Asian_Pacific_Islander,Student_Count_Multi,Student_Count_Hawaiian_Pacific_Islander,Student_Count_Ethnicity_Not_Available,Statistics_Description,Demographic_Description,Dress_Code,PreK_School_Day,Kindergarten_School_Day,School_Hours,Freshman_Start_End_Time,After_School_Hours,Earliest_Drop_Off_Time,Classroom_Languages,Bilingual_Services,Refugee_Services,Title_1_Eligible,PreSchool_Inclusive,Preschool_Instructional,Significantly_Modified,Hard_Of_Hearing,Visual_Impairments,Transportation_Bus,Transportation_El,Transportation_Metra,Average_ACT_School,Mean_ACT,College_Enrollment_Rate_School,College_Enrollment_Rate_Mean,Graduation_Rate_School,Graduation_Rate_Mean,Overall_Rating,Rating_Status,Rating_Statement,Classification_Description,School_Year,Third_Contact_Title,Third_Contact_Name,Fourth_Contact_Title,Fourth_Contact_Name,Fifth_Contact_Title,Fifth_Contact_Name,Sixth_Contact_Title,Sixth_Contact_Name,Seventh_Contact_Title,Seventh_Contact_Name,Network,Is_GoCPS_Participant,Is_GoCPS_PreK,Is_GoCPS_Elementary,Is_GoCPS_High_School,Open_For_Enrollment_Date,Closed_For_Enrollment_Date,School_Latitude,School_Longitude,Location
0,610521,7000,29391,DAVIS M,Sir Miles Davis Magnet Elementary Academy,ES,N,Y,Y,N,Miles Davis Magnet Academy provides each stude...,Principal,Cheryl Elaine Armstrong-Belt,Other,Ms. Kimberly Simon,7.735359e+09,7.735359e+09,http://cps.edu/Schools/Pages/school.aspx?Schoo...,http://www.milesdavismagnet.org,NaN,NaN,NaN,NaN,N,"K,1,2,3,4,5,6,7,8",K-8,237,227,45,10,216,20,0,0,0,0,0,1,0,0,There are 237 students enrolled at DAVIS M. 9...,The largest demographic at DAVIS M is Black. ...,Y,NaN,Full Day,07:45 AM-02:45 PM,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN,NaN,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Level 1,GOOD STANDING,"This school received a Level 1 rating, which i...",Schools that specialize in a specific subject ...,School Year 2017-2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Network 11,Y,N,Y,N,07/01/2008 12:00:00 AM,NaN,41.771221,-87.666530,"6740 S PAULINA ST\nChicago, Illinois 60636\n(4..."
1,609750,1750,49051,SIMPSON HS,Simpson Academy HS for Young Women,HS,Y,Y,Y,N,``,Principal,Mrs.Sherita D Carter-King,Guidance Counselor,Veronica Falls,7.735348e+09,7.735348e+09,http://cps.edu/Schools/Pages/school.aspx?Schoo...,http://www.simpsonacademy.org/,http://www.facebook.com/SAYWHS,NaN,NaN,NaN,N,"6,7,8,9,10,11,12",6-12,34,25,3,3,25,9,0,0,0,0,0,0,0,0,There are 34 students enrolled at SIMPSON HS. ...,The largest demographic at SIMPSON HS is Black...,N,NaN,NaN,8:00 AM - 3:00 PM,NaN,NaN,7:30 AM,Spanish,NaN,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,Pink,NaN,NaN,NaN,33.3,59.8,23.1,77.5,Level 2+,GOOD STANDING,"This school received a Level 2+ rating, which ...",Schools that have their own processes for enro...,School Year 2017-2018,Office,Rita Somen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Network 15,N,N,N,N,09/01/2004 12:00:00 AM,NaN,41.864365,-87.668722,"1321 S PAULINA ST\nChicago, Illinois 60608\n(4..."
2,610386,1123,67021,PEACE AND EDUCATION HS,Peace & Education Coalition HS,HS,Y,N,N,N,The Peace and Education Coalition Accelerated ...,Principal,Brigitte Lee Swenson,Assistant Principal/Second Chance Campus,Lyssette Guzman,7.735359e+09,7.735359e+09,http://cps.edu/Schools/Pages/school.aspx?Schoo...,http://peaceandeducationschools.org,https://www.facebook.com/Peace-and-Education-C...,NaN,NaN,NaN,N,"10,11,12",10-12,94,58,16,13,29,62,2,0,0,0,0,1,0,0,There are 94 students enrolled at PEACE AND ED...,The largest demographic at PEACE AND EDUCATION...,Y,NaN,NaN,8:45 AM - 3:55 PM,NaN,3:55 PM,8:15 AM,"French, Spanish",NaN,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.8,59.8,NaN,NaN,Level 1+,GOOD STANDING,"This school received a Level 1+ rating, which ...",Schools that have their own processes for enro...,School Year 2017-2018,"773-535-9212, Option 0",Sinclair Campus,773-535-1453,Second Chance Campus,NaN,NaN,NaN,NaN,NaN,NaN,ISP,N,N,N,N,09/01/2004 12:00:00 AM,NaN,41.803515,-87.667378,"4946 S PAULINA ST\nChicago, Illinois 60609\n(4..."
3,400123,9040,66106,YCCS - SCHOLASTIC ACHIEVEMENT,YCCS- Academy of Scholastic Achievement HS,HS,Y,N,N,N,YCCS-Academy of Scholastic Achievement,Director,Ms. Nicole Simpson,Assistant Principal,Marvin Simpson,7.739211e+09,7.739218e+09,http://cps.edu/Schools/Pages/school.aspx?Schoo...,http://asaschool.org,NaN,NaN,NaN,NaN,N,"9,10,11,12",9-12,172,77,33,1,165,6,0,0,1,0,0,0,0,0,There are 172 students enrolled at YCCS - SCHO...,The largest demographic at YCCS - SCHOLASTIC A...,Y,NaN,NaN,8:00 AM - 2:44 PM,NaN,NaN,NaN,NaN,N,NaN,Y,NaN,NaN,NaN,NaN,NaN,"20, 54",Green,NaN,NaN,NaN,10.9,59.8,NaN,NaN,Level 2+,NOT APPLICABLE,"This school received a Level 2+ rating, which ...","Schools that are open to all Chicago children,...",School Year 2017-2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Options,N,N,N,N,07/01/2012 12:00:00 AM,NaN,41.880447,-87.742539,"4651 W MADISON ST\nChicago, Illinois 60644\n(4..."
4,400116,9033,66591,MONTESSORI ENGLEWOOD,The Montessori School of Englewood Charter,ES,N,Y,Y,Y,NaN,Director,Ms. Rita Nolan,NaN,NaN,7.735359e+09,7.735360e+09,http://cps.edu/Schools/Pages/school.aspx?Schoo...,http://www.tmsoe.org,NaN,NaN,NaN,NaN,N,"PK,K,1,2,3,4,5,6,7,8","PK,K-8",333,191,48,2,323,9,1,0,0,0,0,0,0,0,There are 333 students enrolled at MONTESSORI ...,The largest demographic at MONTESSORI ENGLEWOO...,N,NaN,NaN,8:00 AM-3:45 PM,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Level 1,NOT APPLICABLE,"This school received a Level 1 rating, which i...","Schools that are open to all Chicago children,...",School Year 2017-2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Charter,N,N,N,N,07/01/2012 12:00:00 AM,NaN,41.774572,-87.676147,"6936 S HERMITAGE AVE\nChicago, Illinois 60636\..."

# Isolate important columns

In [116]:
from src.preprocessing.preprocessing import isolate_important_columns

In [128]:
important = {year: isolate_important_columns(df_dict[year]) for year in df_dict}
important['2016-2017']

,School_ID,Graduation_Rate_School,Student_Count_Total,Student_Count_Low_Income,Student_Count_Special_Ed,Student_Count_English_Learners,Student_Count_Black,Student_Count_Hispanic,Student_Count_White,Student_Count_Asian,Student_Count_Native_American,Student_Count_Other_Ethnicity,Student_Count_Asian_Pacific_Islander,Student_Count_Multi,Student_Count_Hawaiian_Pacific_Islander,Student_Count_Ethnicity_Not_Available,Is_High_School,Dress_Code,Classroom_Languages,Transportation_El
0,610163,NaN,232,37,90,27,1,39,175,16,0,0,0,0,1,0,N,N,NaN,NaN
1,610558,NaN,900,788,153,57,459,420,7,2,5,0,0,6,1,0,Y,Y,Spanish,NaN
2,609750,21.4,38,37,6,2,28,8,2,0,0,0,0,0,0,0,Y,N,Spanish,Pink
3,610571,NaN,341,320,57,31,187,148,4,0,1,0,0,1,0,0,Y,Y,Spanish,Blue
4,610123,NaN,311,279,78,13,283,26,1,0,1,0,0,0,0,0,N,Y,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
656,610317,NaN,454,401,36,190,11,425,6,7,4,0,0,0,0,1,N,Y,Spanish for Heritage Speakers,NaN
657,609749,97.8,1062,470,61,7,78,316,311,209,5,0,3,46,2,92,Y,N,"Chinese, French, Japanese, Latin, Spanish",NaN
658,400172,NaN,494,474,110,148,13,460,9,4,2,0,0,5,0,1,Y,Y,"Spanish, Spanish for Heritage Speakers",NaN
659,609720,95.9,4447,2191,198,27,351,1813,1567,469,18,0,6,118,12,93,Y,Y,"Arabic, Chinese, French, German, Italian, Japa...","Blue, Brown"
660,400080,NaN,564,482,46,283,7,536,1,0,1,0,0,0,0,19,N,Y,Spanish,Orange

In [126]:
for year in df_dict:
    df_dict[year][["School_ID", "Graduation_Rate_School", "Student_Count_Total","Student_Count_Low_Income",
"Student_Count_Special_Ed","Student_Count_English_Learners",
"Student_Count_Black","Student_Count_Hispanic","Student_Count_White",
"Student_Count_Asian","Student_Count_Native_American","Student_Count_Other_Ethnicity",
"Student_Count_Asian_Pacific_Islander","Student_Count_Multi","Student_Count_Hawaiian_Pacific_Islander",                                                           
"Student_Count_Ethnicity_Not_Available", 'Is_High_School', "Dress_Code", "Classroom_Languages","Transportation_El"]]

In [97]:
target_columns = ["School_ID","Administrator","Grades_Offered_All",
"Student_Count_Total","Student_Count_Low_Income",
"Student_Count_Special_Ed","Student_Count_English_Learners",
"Student_Count_Black","Student_Count_Hispanic","Student_Count_White",
"Student_Count_Asian","Student_Count_Native_American","Student_Count_Other_Ethnicity",
"Student_Count_Asian_Pacific_Islander","Student_Count_Multi","Student_Count_Hawaiian_Pacific_Islander",                                                           
"Student_Count_Ethnicity_Not_Available","ADA_Accessible","Dress_Code",
"Classroom_Languages","Transportation_El","Graduation_Rate_School",
"School_Year","Zip"]

df_dict['2018-2019'][target_columns]

KeyError: "['ADA_Accessible'] not in index"

In [76]:
df_dict['2018-2019'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660 entries, 0 to 659
Data columns (total 95 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   School_ID                                660 non-null    int64
 1   Legacy_Unit_ID                           660 non-null    int64
 2   Finance_ID                               660 non-null    int64
 3   Short_Name                               660 non-null    object
 4   Long_Name                                660 non-null    object
 5   Primary_Category                         660 non-null    object
 6   Is_High_School                           660 non-null    bool
 7   Is_Middle_School                         660 non-null    bool
 8   Is_Elementary_School                     660 non-null    bool
 9   Is_Pre_School                            660 non-null    bool
 10  Summary                                  646 non-null    object
 11  Administrator_Title                      660 non-null    object
 12  Administrator                            659 non-null    object
 13  Secondary_Contact_Title                  571 non-null    object
 14  Secondary_Contact                        559 non-null    object
 15  Address                                  660 non-null    object
 16  City                                     660 non-null    object
 17  State                                    660 non-null    object
 18  Zip                                      660 non-null    int64
 19  Phone                                    659 non-null    float64
 20  Fax                                      655 non-null    float64
 21  CPS_School_Profile                       660 non-null    object
 22  Website                                  655 non-null    object
 23  Facebook                                 242 non-null    object
 24  Twitter                                  264 non-null    object
 25  Youtube                                  41 non-null     object
 26  Pinterest                                5 non-null      object
 27  Attendance_Boundaries                    660 non-null    bool
 28  Grades_Offered_All                       660 non-null    object
 29  Grades_Offered                           660 non-null    object
 30  Student_Count_Total                      660 non-null    int64
 31  Student_Count_Low_Income                 660 non-null    int64
 32  Student_Count_Special_Ed                 660 non-null    int64
 33  Student_Count_English_Learners           660 non-null    int64
 34  Student_Count_Black                      660 non-null    int64
 35  Student_Count_Hispanic                   660 non-null    int64
 36  Student_Count_White                      660 non-null    int64
 37  Student_Count_Asian                      660 non-null    int64
 38  Student_Count_Native_American            660 non-null    int64
 39  Student_Count_Other_Ethnicity            660 non-null    int64
 40  Student_Count_Asian_Pacific_Islander     660 non-null    int64
 41  Student_Count_Multi                      660 non-null    int64
 42  Student_Count_Hawaiian_Pacific_Islander  660 non-null    int64
 43  Student_Count_Ethnicity_Not_Available    660 non-null    int64
 44  Statistics_Description                   657 non-null    object
 45  Demographic_Description                  660 non-null    object
 46  Dress_Code                               660 non-null    bool
 47  PreK_School_Day                          361 non-null    object
 48  Kindergarten_School_Day                  460 non-null    object
 49  School_Hours                             648 non-null    object
 50  Freshman_Start_End_Time                  104 non-null    object
 51  After_School_Hours                       298 non-null    object
 52  Earliest_Drop_Off_Time                   421 non-null    object
 53  Classroom_Languages                      278 non-null    object
 54  Bilingual_Services                       372 non-null    object
 55  Refugee_Services                         157 non-null    object
 56  Title_1_Eligible                         643 non-null    object
 57  PreSchool_Inclusive                      94 non-null     object
 58  Preschool_Instructional                  47 non-null     object
 59  Significantly_Modified                   152 non-null    object
 60  Hard_Of_Hearing                          13 non-null     object
 61  Visual_Impairments                       6 non-null      object
 62  Transportation_Bus                       556 non-null    object
 63  Transportation_El                        408 non-null    object
 64  Transportation_Metra                     110 non-null    object
 65  School_Latitude                          660 non-null    float64
 66  School_Longitude                         660 non-null    float64
 67  Average_ACT_School                       0 non-null      float64
 68  Mean_ACT                                 0 non-null      float64
 69  College_Enrollment_Rate_School           172 non-null    float64
 70  College_Enrollment_Rate_Mean             660 non-null    float64
 71  Graduation_Rate_School                   141 non-null    float64
 72  Graduation_Rate_Mean                     660 non-null    float64
 73  Overall_Rating                           659 non-null    object
 74  Rating_Status                            659 non-null    object
 75  Rating_Statement                         659 non-null    object
 76  Classification_Description               660 non-null    object
 77  School_Year                              660 non-null    object
 78  Third_Contact_Title                      262 non-null    object
 79  Third_Contact_Name                       256 non-null    object
 80  Fourth_Contact_Title                     138 non-null    object
 81  Fourth_Contact_Name                      137 non-null    object
 82  Fifth_Contact_Title                      77 non-null     object
 83  Fifth_Contact_Name                       75 non-null     object
 84  Sixth_Contact_Title                      44 non-null     object
 85  Sixth_Contact_Name                       44 non-null     object
 86  Seventh_Contact_Title                    21 non-null     object
 87  Seventh_Contact_Name                     21 non-null     object
 88  Network                                  654 non-null    object
 89  Is_GoCPS_Participant                     660 non-null    bool
 90  Is_GoCPS_PreK                            660 non-null    bool
 91  Is_GoCPS_Elementary                      659 non-null    object
 92  Is_GoCPS_High_School                     660 non-null    bool
 93  Open_For_Enrollment_Date                 660 non-null    object
 94  Closed_For_Enrollment_Date               0 non-null      float64
dtypes: bool(9), float64(11), int64(18), object(57)
memory usage: 449.4+ KB

For each available year in the school profiles, I will separate out high schools from middle schools, since I will be moving towards using graduation rates for supervised learning.

In [74]:
from src.preprocessing.preprocessing import isolate_high_schools

In [77]:
df_hs = {year: isolate_high_schools(df_dict[year]) for year in df_dict}

0      HS
2      HS
5      HS
9      HS
13     HS
       ..
651    HS
652    HS
655    HS
656    HS
658    HS
Name: Primary_Category, Length: 183, dtype: object

In [ ]:
# Interesting: primary category would be a good feature to change to Primary_Is_High_School.  
# This would give a signal of whether a school is a specifically a high school.
df_hs['2018-2019']['Primary_Category']