In [1]:
import pandas as pd
import pickle

In [2]:
with open('data/pickles/hs_data_16-18.pickle','rb') as read_file:
    df = pickle.load(read_file)

In [10]:
hhinc_2016 = pd.read_csv('data/meanHHincome_2016.csv', header = None)

In [11]:
hhinc_2017 = pd.read_csv('data/meanHHincome_2017.csv', header = None)

In [12]:
print(hhinc_2017)

        0        1
0   60602  172,492
1   60605  157,763
2   60607  120,419
3   60608   57,770
4   60609   47,139
5   60610  132,877
6   60612   60,654
7   60613  113,058
8   60614  149,897
9   60615   67,727
10  60616   66,098
11  60617   51,429
12  60618   97,946
13  60619   46,846
14  60620   47,131
15  60621   32,722
16  60622  119,502
17  60623   41,680
18  60624   36,426
19  60625   86,237
20  60626   56,683
21  60627        0
22  60628   52,448
23  60629   54,685
24  60631  105,355
25  60632   55,174
26  60634   77,020
27  60636   40,691
28  60637   55,880
29  60638   79,245
30  60639   54,396
31  60640   75,075
32  60641   73,909
33  60642  114,612
34  60643   83,368
35  60644   41,174
36  60649   43,822
37  60651   49,663
38  60652   76,125
39  60653   51,883
40  60655  105,761
41  60659   68,047
42  60660   66,167

In [14]:
print(list(df))

['ADA_Accessible', 'Address', 'Administrator', 'Administrator_Title', 'After_School_Hours', 'Attendance_Boundaries', 'Average_ACT_School', 'Bilingual_Services', 'CPS_School_Profile', 'City', 'Classification_Description', 'Classroom_Languages', 'Closed_For_Enrollment_Date', 'College_Enrollment_Rate_Mean', 'College_Enrollment_Rate_School', 'Demographic_Description', 'Dress_Code', 'Earliest_Drop_Off_Time', 'Facebook', 'Fax', 'Fifth_Contact_Name', 'Fifth_Contact_Title', 'Finance_ID', 'Fourth_Contact_Name', 'Fourth_Contact_Title', 'Freshman_Start_End_Time', 'Grades_Offered', 'Grades_Offered_All', 'Graduation_Rate_Mean', 'Graduation_Rate_School', 'Hard_Of_Hearing', 'Is_Elementary_School', 'Is_GoCPS_Elementary', 'Is_GoCPS_High_School', 'Is_GoCPS_Participant', 'Is_GoCPS_PreK', 'Is_High_School', 'Is_Middle_School', 'Is_Pre_School', 'Kindergarten_School_Day', 'Legacy_Unit_ID', 'Location', 'Long_Name', 'Mean_ACT', 'Network', 'Open_For_Enrollment_Date', 'Overall_Rating', 'Phone', 'Pinterest', 'PreK_School_Day', 'PreSchool_Inclusive', 'Preschool_Instructional', 'Primary_Category', 'Rating_Statement', 'Rating_Status', 'Refugee_Services', 'School_Hours', 'School_ID', 'School_Latitude', 'School_Longitude', 'School_Type', 'School_Year', 'Secondary_Contact', 'Secondary_Contact_Title', 'Seventh_Contact_Name', 'Seventh_Contact_Title', 'Short_Name', 'Significantly_Modified', 'Sixth_Contact_Name', 'Sixth_Contact_Title', 'State', 'Statistics_Description', 'Student_Count_Asian', 'Student_Count_Asian_Pacific_Islander', 'Student_Count_Black', 'Student_Count_English_Learners', 'Student_Count_Ethnicity_Not_Available', 'Student_Count_Hawaiian_Pacific_Islander', 'Student_Count_Hispanic', 'Student_Count_Low_Income', 'Student_Count_Multi', 'Student_Count_Native_American', 'Student_Count_Other_Ethnicity', 'Student_Count_Special_Ed', 'Student_Count_Total', 'Student_Count_White', 'Summary', 'Third_Contact_Name', 'Third_Contact_Title', 'Title_1_Eligible', 'Transportation_Bus', 'Transportation_El', 'Transportation_Metra', 'Twitter', 'Visual_Impairments', 'Website', 'Youtube', 'Zip_x', 'Zip_y']

In [25]:
print(df[['School_ID', 'School_Year']])

     School_ID            School_Year
0       609764  School Year 2016-2017
1       609764  School Year 2017-2018
2       400054  School Year 2016-2017
3       400054  School Year 2017-2018
4       609726  School Year 2016-2017
5       609726  School Year 2017-2018
6       400094  School Year 2016-2017
7       400094  School Year 2017-2018
8       609755  School Year 2016-2017
9       609755  School Year 2017-2018
10      609756  School Year 2016-2017
11      609756  School Year 2017-2018
12      610518  School Year 2016-2017
13      610518  School Year 2017-2018
14      400077  School Year 2016-2017
15      400077  School Year 2017-2018
16      400056  School Year 2016-2017
17      400056  School Year 2017-2018
18      610394  School Year 2016-2017
19      610394  School Year 2017-2018
20      400058  School Year 2016-2017
21      400058  School Year 2017-2018
22      609692  School Year 2016-2017
23      609692  School Year 2017-2018
24      610529  School Year 2016-2017
25      610529  School Year 2017-2018
26      610340  School Year 2016-2017
27      610340  School Year 2017-2018
28      609744  School Year 2016-2017
29      609744  School Year 2017-2018
..         ...                    ...
209     609751  School Year 2016-2017
210     609751  School Year 2017-2018
211     609766  School Year 2016-2017
212     609766  School Year 2017-2018
213     400032  School Year 2016-2017
214     400032  School Year 2017-2018
215     609768  School Year 2016-2017
216     609768  School Year 2017-2018
217     400102  School Year 2016-2017
218     400102  School Year 2017-2018
219     609695  School Year 2016-2017
220     609695  School Year 2017-2018
221     400091  School Year 2016-2017
222     400091  School Year 2017-2018
223     609710  School Year 2016-2017
224     609710  School Year 2017-2018
225     609735  School Year 2016-2017
226     609735  School Year 2017-2018
227     400059  School Year 2016-2017
228     400059  School Year 2017-2018
229     609682  School Year 2016-2017
230     609682  School Year 2017-2018
231     609711  School Year 2016-2017
232     609711  School Year 2017-2018
233     400097  School Year 2016-2017
234     400097  School Year 2017-2018
235     610304  School Year 2016-2017
236     610304  School Year 2017-2018
237     610390  School Year 2016-2017
238     610390  School Year 2017-2018

[239 rows x 2 columns]

In [28]:
df_2016 = df[df['School_Year'] == 'School Year 2016-2017']

In [29]:
df_2016.head()

,ADA_Accessible,Address,Administrator,Administrator_Title,After_School_Hours,Attendance_Boundaries,Average_ACT_School,Bilingual_Services,CPS_School_Profile,City,...,Title_1_Eligible,Transportation_Bus,Transportation_El,Transportation_Metra,Twitter,Visual_Impairments,Website,Youtube,Zip_x,Zip_y
0,Generally accessible,1450 W CERMAK RD,Juan Carlos Ocon,Principal,2:40 to 8:00 P.M.,Y,16.5,Y,http://cps.edu/Schools/Pages/school.aspx?Schoo...,Chicago,...,Y,"9, 21, 60","Blue, Pink, Red",NaN,NaN,NaN,http://www.benitojuarez.net,NaN,60608.0,60608.0
2,Generally accessible,4131 W CORTLAND ST,Ms. Carrie Spitz,Director,4:00PM-5:30PM,N,21.9,N,http://cps.edu/Schools/Pages/school.aspx?Schoo...,Chicago,...,Y,"53, 72, 73","Blue, Brown",NaN,http://twitter.com/benoblepritzker,NaN,http://www.pritzkercollegeprep.org,NaN,60639.0,60639.0
4,Fully Accessible,250 E 111TH ST,Ms.Shannae Bea Jackson,Principal,NaN,N,22.5,N,http://cps.edu/Schools/Pages/school.aspx?Schoo...,Chicago,...,Y,34111119,Orange,Metra Electric District (ME),https://twitter.com/BrooksPrepCSL,NaN,http://www.brookscollegeprep.org,NaN,60628.0,60628.0
6,Generally accessible,8255 S HOUSTON AVE,Tawanna Patton,Director,NaN,N,17.5,Y,http://cps.edu/Schools/Pages/school.aspx?Schoo...,Chicago,...,Y,"5, 26, 71",NaN,Metra Electric District (ME),https://twitter.com/EPIC_Academy,NaN,http://www.epicacademy.org,NaN,60617.0,60617.0
8,Generally accessible,211 S LAFLIN ST,Joyce Dorsey Kenner,Principal,3:20 PM - 6:00 PM,N,27.9,Y,http://cps.edu/Schools/Pages/school.aspx?Schoo...,Chicago,...,N,"9, 20, 126",Blue,NaN,http://www.twitter.com/wyhs,NaN,http://www.wyoung.org,NaN,60607.0,60607.0