In [1]:
import pandas as pd
import pickle

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 25)
pd.set_option('display.precision', 3)

In [2]:
!ls data/pickles

df_Out_Rem.pickle            hs_data_16-18.pickle
features_29columns.pickle    log_grad_inflected.pickle
features_29feat_clean.pickle

In [3]:
with open('data/pickles/hs_data_16-18.pickle', 'rb') as f:
    df = pickle.load(f)

In [4]:
df.head()

,School_ID,Legacy_Unit_ID,Finance_ID,Short_Name,Long_Name,School_Type,Primary_Category,Is_High_School,Is_Middle_School,Is_Elementary_School,Is_Pre_School,Summary,Administrator_Title,Administrator,Secondary_Contact_Title,Secondary_Contact,Address,City,State,Zip_x,Phone,Fax,CPS_School_Profile,Website,Facebook,Twitter,Youtube,Pinterest,Attendance_Boundaries,Grades_Offered_All,Grades_Offered,Student_Count_Total,Student_Count_Low_Income,Student_Count_Special_Ed,Student_Count_English_Learners,Student_Count_Black,Student_Count_Hispanic,Student_Count_White,Student_Count_Asian,Student_Count_Native_American,Student_Count_Other_Ethnicity,Student_Count_Asian_Pacific_Islander,Student_Count_Multi,Student_Count_Hawaiian_Pacific_Islander,Student_Count_Ethnicity_Not_Available,Statistics_Description,Demographic_Description,ADA_Accessible,Dress_Code,PreK_School_Day,Kindergarten_School_Day,School_Hours,Freshman_Start_End_Time,After_School_Hours,Earliest_Drop_Off_Time,Classroom_Languages,Bilingual_Services,Refugee_Services,Title_1_Eligible,PreSchool_Inclusive,Preschool_Instructional,Significantly_Modified,Hard_Of_Hearing,Visual_Impairments,Transportation_Bus,Transportation_El,Transportation_Metra,School_Latitude,School_Longitude,Average_ACT_School,Mean_ACT,College_Enrollment_Rate_School,College_Enrollment_Rate_Mean,Graduation_Rate_School,Graduation_Rate_Mean,Overall_Rating,Rating_Status,Rating_Statement,Classification_Description,School_Year,Third_Contact_Title,Third_Contact_Name,Fourth_Contact_Title,Fourth_Contact_Name,Fifth_Contact_Title,Fifth_Contact_Name,Sixth_Contact_Title,Sixth_Contact_Name,Seventh_Contact_Title,Seventh_Contact_Name,Location,Network,Is_GoCPS_Participant,Is_GoCPS_PreK,Is_GoCPS_Elementary,Is_GoCPS_High_School,Open_For_Enrollment_Date,Closed_For_Enrollment_Date,Zip_y
0,609764,1890,46421,JUAREZ HS,Benito Juarez Community Academy High School,Neighborhood,HS,Y,N,N,N,Juarez offers a particularly wide array of aca...,Principal,Juan Carlos Ocon,Assistant Principal,Keith Adams,1450 W CERMAK RD,Chicago,Illinois,60608.0,7.735e+09,7.735e+09,http://cps.edu/Schools/Pages/school.aspx?Schoo...,http://www.benitojuarez.net,NaN,NaN,NaN,NaN,Y,"9,10,11,12",9-12,1739,1659,281,331,58,1644,12,5,6,0,0,3,0,11,There are 1739 students enrolled at JUAREZ HS....,The largest demographic at JUAREZ HS is Hispan...,Generally accessible,N,NaN,NaN,7:45 AM - 2:35 PM,7:45 a.m. - 2:45 p.m.,2:40 to 8:00 P.M.,7:00 A.M,"French, Spanish",Y,Y,Y,NaN,NaN,NaN,NaN,NaN,"9, 21, 60","Blue, Pink, Red",NaN,41.853,-87.664,16.5,18.4,50.6,57.9,80.9,73.5,Level 2+,Good Standing,"This school received a Level 2+ rating, which ...",Schools that have an attendance boundary. Gene...,School Year 2016-2017,Assistant Principal,Nicholas Aquino,IB Coordinator,Santiago Marquez,NaN,NaN,NaN,NaN,NaN,NaN,"1450 W CERMAK RD\nChicago, Illinois 60608\n(41...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,60608.0
1,609764,1890,46421,JUAREZ HS,Benito Juarez Community Academy High School,NaN,HS,Y,N,N,N,Juarez offers a particularly wide array of aca...,Principal,Juan Carlos Ocon,Assistant Principal,Keith Adams,NaN,NaN,NaN,NaN,7.735e+09,7.735e+09,http://cps.edu/Schools/Pages/school.aspx?Schoo...,http://www.benitojuarez.net,NaN,NaN,NaN,NaN,Y,"9,10,11,12",12-Sep,1706,1068,277,343,53,1608,10,10,6,0,0,6,0,13,There are 1706 students enrolled at JUAREZ HS....,The largest demographic at JUAREZ HS is Hispan...,NaN,N,NaN,NaN,7:45 AM - 2:35 PM,7:45 a.m. - 2:45 p.m.,2:40 to 8:00 P.M.,7:00 A.M,"French, Spanish",Y,Y,Y,NaN,NaN,NaN,NaN,NaN,"9, 21, 60","Blue, Pink, Red",NaN,41.853,-87.664,NaN,NaN,52.2,59.8,78.6,77.5,Level 2+,GOOD STANDING,"This school received a Level 2+ rating, which ...",Schools that have an attendance boundary. Gene...,School Year 2017-2018,Assistant Principal,Nicholas Aquino,IB Coordinator,Santiago Marquez,NaN,NaN,NaN,NaN,NaN,NaN,"1450 W CERMAK RD\nChicago, Illinois 60608\n(41...",ISP,Y,N,N,Y,9/1/04 0:00,NaN,60608.0
2,400054,1931,66142,NOBLE - PRITZKER HS,Noble - Pritzker College Prep,Charter,HS,Y,N,N,N,"We have been accepted as an IB School, and as ...",Director,Ms. Carrie Spitz,Principal,Carrie Spitz,4131 W CORTLAND ST,Chicago,Illinois,60639.0,7.734e+09,7.734e+09,http://cps.edu/Schools/Pages/school.aspx?Schoo...,http://www.pritzkercollegeprep.org,https://www.facebook.com/benoblepritzker,http://twitter.com/benoblepritzker,NaN,NaN,N,"9,10,11,12",9-12,992,936,106,120,30,945,9,1,5,0,0,2,0,0,There are 992 students enrolled at NOBLE - PRI...,The largest demographic at NOBLE - PRITZKER HS...,Generally accessible,Y,NaN,NaN,M - R 8:05AM. - 3:50PM F 8:05- 1:30PM,.,4:00PM-5:30PM,7:00AM,"Russian, Spanish",N,N,Y,NaN,NaN,NaN,NaN,NaN,"53, 72, 73","Blue, Brown",NaN,41.915,-87.730,21.9,18.4,85.7,57.9,90.3,73.5,Level 1+,Not Applicable,"This school received a Level 1+ rating, which ...","Schools that are open to all Chicago children,...",School Year 2016-2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"4131 W CORTLAND ST\nChicago, Illinois 60639\n(...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,60639.0
3,400054,1931,66142,NOBLE - PRITZKER HS,Noble - Pritzker College Prep,NaN,HS,Y,N,N,N,"We have been accepted as an IB School, and as ...",Director,Ms. Carrie Spitz,Principal,Carrie Spitz,NaN,NaN,NaN,NaN,7.734e+09,7.734e+09,http://cps.edu/Schools/Pages/school.aspx?Schoo...,http://www.pritzkercollegeprep.org,https://www.facebook.com/benoblepritzker,http://twitter.com/benoblepritzker,NaN,NaN,N,"9,10,11,12",12-Sep,975,930,105,134,36,923,9,0,5,0,0,2,0,0,There are 975 students enrolled at NOBLE - PRI...,The largest demographic at NOBLE - PRITZKER HS...,NaN,Y,NaN,NaN,M - R 8:05AM. - 3:50PM F 8:05- 1:30PM,.,4:00PM-5:30PM,7:00AM,"Russian, Spanish",N,N,Y,NaN,NaN,NaN,NaN,NaN,"53, 72, 73","Blue, Brown",NaN,41.915,-87.730,NaN,NaN,88.1,59.8,91.3,77.5,Level 1+,NOT APPLICABLE,"This school received a Level 1+ rating, which ...","Schools that are open to all Chicago children,...",School Year 2017-2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"4131 W CORTLAND ST\nChicago, Illinois 60639\n(...",Charter,Y,N,N,Y,9/1/04 0:00,NaN,60639.0
4,609726,1500,47051,BROOKS HS,Gwendolyn Brooks College Preparatory Academy HS,Selective enrollment,HS,Y,Y,N,N,Brooks prepares students to be global leaders ...,Principal,Ms.Shannae Bea Jackson,Assistant Principal,Shannae Jackson,250 E 111TH ST,Chicago,Illinois,60628.0,7.735e+09,7.735e+09,http://cps.edu/Schools/Pages/school.aspx?Schoo...,http://www.brookscollegeprep.org,NaN,https://twitter.com/BrooksPrepCSL,NaN,NaN,N,"7,8,9,10,11,12",7-12,959,692,59,2,757,175,7,1,2,0,0,7,2,8,There are 959 students enrolled at BROOKS HS. ...,The largest demographic at BROOKS HS is Black....,Fully Accessible,N,NaN,NaN,8:00 AM - 3:30 PM,8:00 a.m. - 3:35 p.m.,NaN,6:30 AM,"French, Spanish",N,N,Y,NaN,NaN,Y,NaN,NaN,34111119,Orange,Metra Electric District (ME),41.693,-87.616,22.5,18.4,85.1,57.9,93.4,73.5,Level 1+,Good Standing,"This school received a Level 1+ rating, which ...",Schools that offer a rigorous curriculum with ...,School Year 2016-2017,Assistant Principal,Daniel Bauer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"250 E 111TH ST\nChicago, Illinois 60628\n(41.6...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,60628.0

## Drop data not considered in this model

In [5]:
#drop select columns
df.drop(columns = ['Address', 'Administrator_Title', 'CPS_School_Profile', 
                   'City', 'Classification_Description', 'Closed_For_Enrollment_Date',
                  'College_Enrollment_Rate_Mean', 'College_Enrollment_Rate_School',
                  'Demographic_Description', 'Earliest_Drop_Off_Time', 'Facebook', 
                  'Fax', 'Fifth_Contact_Name', 'Fifth_Contact_Title', 'Finance_ID', 
                  'Fourth_Contact_Name', 'Fourth_Contact_Title', 'Freshman_Start_End_Time',
                  'Grades_Offered', 'Graduation_Rate_Mean', 'Is_Elementary_School', 
                  'Is_GoCPS_Elementary', 'Is_GoCPS_High_School', 'Is_GoCPS_PreK', 
                  'Is_High_School', 'Is_Middle_School', 'Is_Pre_School', 'Kindergarten_School_Day',
                  'Legacy_Unit_ID', 'Long_Name', 'Mean_ACT', 'Open_For_Enrollment_Date', 
                  'Overall_Rating', 'Phone', 'Pinterest', 'PreK_School_Day', 'PreSchool_Inclusive', 
                  'Preschool_Instructional', 'Primary_Category', 'Rating_Statement', 'Rating_Status', 
                  'Refugee_Services', 'School_Type','Secondary_Contact', 'Secondary_Contact_Title', 
                  'Seventh_Contact_Name', 'Seventh_Contact_Title', 'Short_Name', 'Short_Name', 
                  'Significantly_Modified', 'Sixth_Contact_Name', 'Sixth_Contact_Title', 'State',
                  'Statistics_Description', 'Summary', 'Third_Contact_Name', 'Third_Contact_Title', 
                  'Title_1_Eligible', 'Twitter', 'Visual_Impairments', 'Website',
                  'Youtube', 'Zip_x', 'Attendance_Boundaries','Average_ACT_School', 
                   'Bilingual_Services','Hard_Of_Hearing', 'Is_GoCPS_Participant',
                  'School_Latitude', 'School_Longitude', 'Average_ACT_School', 'Location',
                   'Transportation_Bus','Transportation_Metra', 'After_School_Hours','School_Hours'], inplace = True)

In [6]:
list(df)

['School_ID',
 'Administrator',
 'Grades_Offered_All',
 'Student_Count_Total',
 'Student_Count_Low_Income',
 'Student_Count_Special_Ed',
 'Student_Count_English_Learners',
 'Student_Count_Black',
 'Student_Count_Hispanic',
 'Student_Count_White',
 'Student_Count_Asian',
 'Student_Count_Native_American',
 'Student_Count_Other_Ethnicity',
 'Student_Count_Asian_Pacific_Islander',
 'Student_Count_Multi',
 'Student_Count_Hawaiian_Pacific_Islander',
 'Student_Count_Ethnicity_Not_Available',
 'ADA_Accessible',
 'Dress_Code',
 'Classroom_Languages',
 'Transportation_El',
 'Graduation_Rate_School',
 'School_Year',
 'Network',
 'Zip_y']

## Merge Income Data Per Zip for 16/17 and 17/18

In [7]:
df_2016 = df[df['School_Year'] == 'School Year 2016-2017']
df_2016_income = pd.read_csv('data/meanHHincome_2016.csv', header=None)
df_2016_income.columns = ['Zip_y', 'Zip_Mean_Income']
df_2016 = pd.merge(df_2016, df_2016_income, on = 'Zip_y' )

In [8]:
df_2017 = df[df['School_Year'] == 'School Year 2017-2018']
df_2017_income = pd.read_csv('data/meanHHincome_2017.csv', header=None)
df_2017_income.columns = ['Zip_y', 'Zip_Mean_Income']
df_2017 = pd.merge(df_2017, df_2017_income, on = 'Zip_y' )

In [9]:
df = df_2016.append(df_2017)

In [10]:
print(list(df))

['School_ID', 'Administrator', 'Grades_Offered_All', 'Student_Count_Total', 'Student_Count_Low_Income', 'Student_Count_Special_Ed', 'Student_Count_English_Learners', 'Student_Count_Black', 'Student_Count_Hispanic', 'Student_Count_White', 'Student_Count_Asian', 'Student_Count_Native_American', 'Student_Count_Other_Ethnicity', 'Student_Count_Asian_Pacific_Islander', 'Student_Count_Multi', 'Student_Count_Hawaiian_Pacific_Islander', 'Student_Count_Ethnicity_Not_Available', 'ADA_Accessible', 'Dress_Code', 'Classroom_Languages', 'Transportation_El', 'Graduation_Rate_School', 'School_Year', 'Network', 'Zip_y', 'Zip_Mean_Income']

## Fill in ADA accessible and create ADA dummie

In [11]:
# 2016-17 has ADA accessibility data, and I will assume it is the same for 17-18.

In [12]:
ada = df[df['School_Year'] == 'School Year 2016-2017'][['ADA_Accessible', 'School_ID']]

In [13]:
df = pd.merge(df, ada, on = 'School_ID' )
df.drop(columns = 'ADA_Accessible_x', inplace = True)

In [14]:
df['ADA_Accessible_y'].value_counts()

Generally accessible        130
Fully Accessible             66
No/unknown accessibility     43
Name: ADA_Accessible_y, dtype: int64

In [15]:
df = pd.concat((df, pd.get_dummies(df['ADA_Accessible_y'])), axis=1)

In [16]:
df.head()

,School_ID,Administrator,Grades_Offered_All,Student_Count_Total,Student_Count_Low_Income,Student_Count_Special_Ed,Student_Count_English_Learners,Student_Count_Black,Student_Count_Hispanic,Student_Count_White,Student_Count_Asian,Student_Count_Native_American,Student_Count_Other_Ethnicity,Student_Count_Asian_Pacific_Islander,Student_Count_Multi,Student_Count_Hawaiian_Pacific_Islander,Student_Count_Ethnicity_Not_Available,Dress_Code,Classroom_Languages,Transportation_El,Graduation_Rate_School,School_Year,Network,Zip_y,Zip_Mean_Income,ADA_Accessible_y,Fully Accessible,Generally accessible,No/unknown accessibility
0,609764,Juan Carlos Ocon,"9,10,11,12",1739,1659,281,331,58,1644,12,5,6,0,0,3,0,11,N,"French, Spanish","Blue, Pink, Red",80.9,School Year 2016-2017,NaN,60608.0,"53,353",Generally accessible,0,1,0
1,609764,Juan Carlos Ocon,"9,10,11,12",1706,1068,277,343,53,1608,10,10,6,0,0,6,0,13,N,"French, Spanish","Blue, Pink, Red",78.6,School Year 2017-2018,ISP,60608.0,"57,770",Generally accessible,0,1,0
2,400104,Dr. Hillyn Senuholtz,"9,10,11,12",742,720,146,169,24,714,3,0,1,0,0,0,0,0,Y,Spanish,NaN,82.8,School Year 2016-2017,NaN,60608.0,"53,353",No/unknown accessibility,0,0,1
3,400104,Ms. Kimberly Burks,"9,10,11,12",745,693,146,213,14,726,2,0,2,0,0,0,0,1,Y,Spanish,"Blue, Orange, Pink",85.0,School Year 2017-2018,Charter,60608.0,"57,770",No/unknown accessibility,0,0,1
4,609748,Sharnette Sims,"9,10,11,12",199,174,58,2,154,36,6,0,3,0,0,0,0,0,N,NaN,NaN,1.7,School Year 2016-2017,NaN,60608.0,"53,353",No/unknown accessibility,0,0,1

In [17]:
#having [0,0] for fully and generally accessible implies no or unknown accessibility
df.drop(columns = ['No/unknown accessibility','ADA_Accessible_y'], inplace=True)

In [18]:
df.head()

,School_ID,Administrator,Grades_Offered_All,Student_Count_Total,Student_Count_Low_Income,Student_Count_Special_Ed,Student_Count_English_Learners,Student_Count_Black,Student_Count_Hispanic,Student_Count_White,Student_Count_Asian,Student_Count_Native_American,Student_Count_Other_Ethnicity,Student_Count_Asian_Pacific_Islander,Student_Count_Multi,Student_Count_Hawaiian_Pacific_Islander,Student_Count_Ethnicity_Not_Available,Dress_Code,Classroom_Languages,Transportation_El,Graduation_Rate_School,School_Year,Network,Zip_y,Zip_Mean_Income,Fully Accessible,Generally accessible
0,609764,Juan Carlos Ocon,"9,10,11,12",1739,1659,281,331,58,1644,12,5,6,0,0,3,0,11,N,"French, Spanish","Blue, Pink, Red",80.9,School Year 2016-2017,NaN,60608.0,"53,353",0,1
1,609764,Juan Carlos Ocon,"9,10,11,12",1706,1068,277,343,53,1608,10,10,6,0,0,6,0,13,N,"French, Spanish","Blue, Pink, Red",78.6,School Year 2017-2018,ISP,60608.0,"57,770",0,1
2,400104,Dr. Hillyn Senuholtz,"9,10,11,12",742,720,146,169,24,714,3,0,1,0,0,0,0,0,Y,Spanish,NaN,82.8,School Year 2016-2017,NaN,60608.0,"53,353",0,0
3,400104,Ms. Kimberly Burks,"9,10,11,12",745,693,146,213,14,726,2,0,2,0,0,0,0,1,Y,Spanish,"Blue, Orange, Pink",85.0,School Year 2017-2018,Charter,60608.0,"57,770",0,0
4,609748,Sharnette Sims,"9,10,11,12",199,174,58,2,154,36,6,0,3,0,0,0,0,0,N,NaN,NaN,1.7,School Year 2016-2017,NaN,60608.0,"53,353",0,0

## Demographic Percentage Transformation

In [19]:
#Convert student demographic counts to percent of total population
print(list(df))
demog_headings = ['Student_Count_Asian', 'Student_Count_Asian_Pacific_Islander', 'Student_Count_Black', 
                  'Student_Count_English_Learners', 'Student_Count_Ethnicity_Not_Available', 
                  'Student_Count_Hawaiian_Pacific_Islander', 'Student_Count_Hispanic', 
                  'Student_Count_Low_Income', 'Student_Count_Multi', 'Student_Count_Native_American', 
                  'Student_Count_Other_Ethnicity', 'Student_Count_Special_Ed', 'Student_Count_White']
for dem in demog_headings:
    dem_per_heading = dem + '_perc'
    df[dem_per_heading] = df[dem]/df['Student_Count_Total']
    df.drop(columns = dem, inplace=True)

['School_ID', 'Administrator', 'Grades_Offered_All', 'Student_Count_Total', 'Student_Count_Low_Income', 'Student_Count_Special_Ed', 'Student_Count_English_Learners', 'Student_Count_Black', 'Student_Count_Hispanic', 'Student_Count_White', 'Student_Count_Asian', 'Student_Count_Native_American', 'Student_Count_Other_Ethnicity', 'Student_Count_Asian_Pacific_Islander', 'Student_Count_Multi', 'Student_Count_Hawaiian_Pacific_Islander', 'Student_Count_Ethnicity_Not_Available', 'Dress_Code', 'Classroom_Languages', 'Transportation_El', 'Graduation_Rate_School', 'School_Year', 'Network', 'Zip_y', 'Zip_Mean_Income', 'Fully Accessible', 'Generally accessible']

## Language Count Transform

In [20]:
df.Classroom_Languages.value_counts()

Spanish                                                                   96
French, Spanish                                                           39
Spanish, Spanish for Heritage Speakers                                    25
French, Spanish, Spanish for Heritage Speakers                            11
Chinese, French, Spanish                                                   6
Chinese, French, Japanese, Latin, Spanish                                  4
Chinese, Spanish                                                           4
Mandarin, Spanish                                                          3
Chinese, French, Latin, Spanish                                            2
Latin                                                                      2
Arabic, French, Mandarin, Spanish, Spanish for Heritage Speakers           2
Arabic, French, Korean, Polish, Spanish, Spanish for Heritage Speakers     2
                                                                          ..
Latin, Spanish                                                             2
Spanish, Turkish                                                           2
Chinese, French, German, Japanese, Latin, Spanish                          2
American Sign Language                                                     2
American Sign Language, French, Spanish                                    2
American Sign Language, French, Spanish, Spanish for Heritage Speakers     2
Arabic, Japanese, Spanish, Spanish for Heritage Speakers                   1
French, Polish, Spanish, Spanish for Heritage Speakers                     1
Arabic, French, Spanish                                                    1
Arabic, French, Spanish, Spanish for Heritage Speakers                     1
Polish, Spanish, Spanish for Heritage Speakers                             1
Japanese, Spanish, Spanish for Heritage Speakers                           1
Name: Classroom_Languages, Length: 31, dtype: int64

In [44]:
df.Classroom_Languages.isna().sum()

11

In [45]:
df_languages = df[['School_ID', 'Classroom_Languages', 'School_Year']]
#the data appears to show the same value for languages across the two years
#so the data will be transformed on one year to prevent duplication at time of merge
df_languages = df_languages[df_languages['School_Year'] == 'School Year 2016-2017']

In [46]:
#Because this is a comma count, the values with zero commas have 1 language, 
#one comma have 2, etc.
df_languages.Classroom_Languages.str.count(',').value_counts()

0.0    51
1.0    41
2.0    11
3.0     5
4.0     3
5.0     2
9.0     1
7.0     1
Name: Classroom_Languages, dtype: int64

In [47]:
df_languages.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 121 entries, 0 to 237
Data columns (total 3 columns):
School_ID              121 non-null int64
Classroom_Languages    115 non-null object
School_Year            121 non-null object
dtypes: int64(1), object(2)
memory usage: 3.8+ KB

In [48]:
#NaN will be treated as 0 in the language count. 
#Since language count will be performed with a comma count,
#set nan to 15 and reset to 0 after the count is performed.
df_languages.fillna(',,,,,,,,,,,,,,', inplace=True)

In [49]:
df_languages['Classroom_Languages_count'] = (
                                            df_languages['Classroom_Languages'].str.count(',') 
                                            + 1
                                            )

In [50]:
df_languages['Classroom_Languages_count'].value_counts()

1     51
2     41
3     11
15     6
4      5
5      3
6      2
10     1
8      1
Name: Classroom_Languages_count, dtype: int64

In [51]:
df_languages['Classroom_Languages_count'].loc[df_languages['Classroom_Languages_count'] == 15] = 0

In [52]:
df_languages['Classroom_Languages_count'].value_counts()

1     51
2     41
3     11
0      6
4      5
5      3
6      2
10     1
8      1
Name: Classroom_Languages_count, dtype: int64

In [53]:
df_languages.Classroom_Languages_count.isna().sum()

0

In [54]:
df_languages[df_languages['Classroom_Languages_count']==0]

,School_ID,Classroom_Languages,School_Year,Classroom_Languages_count
4,609748,",,,,,,,,,,,,,,",School Year 2016-2017,0
56,400077,",,,,,,,,,,,,,,",School Year 2016-2017,0
127,400033,",,,,,,,,,,,,,,",School Year 2016-2017,0
152,610557,",,,,,,,,,,,,,,",School Year 2016-2017,0
183,609783,",,,,,,,,,,,,,,",School Year 2016-2017,0
225,609766,",,,,,,,,,,,,,,",School Year 2016-2017,0

In [55]:
df_languages.sort_values('Classroom_Languages_count', ascending = False)
df_languages.drop(columns = ['Classroom_Languages', 'School_Year'], inplace=True)

In [56]:
df = pd.merge(df, df_languages, on='School_ID')

In [57]:
df['Classroom_Languages_count'].value_counts()
df['Classroom_Languages_count'].value_counts().sum()

239

In [58]:
for x in df.Classroom_Languages_count:
    print(x)

2
2
1
1
0
0
2
2
1
1
1
1
1
1
2
2
2
2
1
1
4
4
2
2
1
1
1
1
1
1
1
1
1
1
1
1
2
2
8
8
6
6
4
4
2
2
2
2
2
2
1
1
1
1
1
1
0
0
2
2
2
2
2
2
1
1
2
2
1
1
3
3
2
2
2
2
1
1
1
1
1
1
2
2
1
1
1
1
1
1
3
3
2
2
1
1
2
2
1
1
3
3
1
1
3
3
2
2
5
5
4
4
2
2
1
1
1
1
1
1
1
2
2
1
1
2
2
0
0
1
1
2
2
1
1
1
1
1
1
1
1
1
1
1
2
2
2
2
1
1
2
2
0
2
2
10
10
2
2
2
2
3
3
5
5
2
2
1
1
1
1
1
1
2
2
3
3
1
1
2
2
1
1
0
0
1
1
1
1
2
2
3
3
2
2
1
1
2
2
2
2
6
6
3
3
2
2
1
1
1
1
1
1
3
3
2
2
2
2
1
1
4
4
4
4
0
0
2
2
2
2
5
5
3
3
3
3
1
1

In [ ]:
df.info()

## El Dummie Transform

In [ ]:
el_df = df[['School_ID', 'Transportation_El', 'School_Year']]

In [ ]:
el_df.head(10)

In [ ]:
#Again, like languages, looks like El values are consistent across years.
el_df = el_df[el_df['School_Year'] == 'School Year 2017-2018']

In [ ]:
el_df['Transportation_El'].value_counts()

In [ ]:
#replace NaN with no_el so that with dummy variable I can drop No_El
el_df.fillna(value = 'No_El', inplace=True)

In [ ]:
el_df

In [ ]:
el_dummies = el_df['Transportation_El'].str.get_dummies(sep = ', ')

In [ ]:
el_dummies

### Double Check with Alice/John

In [ ]:
el_dummies.drop(columns = 'No_El', inplace=True)

In [ ]:
el_df = pd.merge(el_df,el_dummies, left_index=True, right_index=True)

In [ ]:
el_df.head()

In [ ]:
el_df.drop(columns = ['Transportation_El', 'School_Year'], inplace=True)

In [ ]:
#decide which column to drop for dummies based on column count
line_list = ['Blue','Brown','Green','Orange','Pink','Purple','Red']
for line in line_list:
    print(el_df[line].value_counts())

In [ ]:
#drop pink because there are 115 entries, the highest value, without it.

In [ ]:
df = pd.merge(df, el_df, on='School_ID')

In [ ]:
df

In [ ]:
df.info()

## Make Dress Code Binary

In [ ]:
df["Dress_Code_dummie"] = pd.get_dummies(df['Dress_Code'], drop_first = True)

In [ ]:
df.drop(columns='Dress_Code', inplace=True)

In [ ]:
df.head()

## Grades offered count

In [ ]:
df.Grades_Offered_All.value_counts()

In [ ]:
df_grades = df[['Grades_Offered_All', 'School_ID']]

In [ ]:
df_grades['grades_offered_count'] = (
                                            df_grades['Grades_Offered_All'].str.count(',') 
                                            + 1
                                            )

In [ ]:
df_grades.grades_offered_count.value_counts()

In [ ]:
df_grades.drop(columns = ['Grades_Offered_All'], inplace=True)

In [ ]:
df_grades.drop_duplicates('School_ID', inplace=True)
df_grades.sort_values('grades_offered_count')

In [ ]:
df = pd.merge(df, df_grades, on='School_ID')

In [ ]:
df.drop(columns = ['Classroom_Languages', 'Grades_Offered_All'], inplace=True)

In [ ]:
df.head()

In [ ]:
df.drop(columns = ['Attendance_Boundaries', 'Bilingual_Services', 
                   'Hard_Of_Hearing', 'Transportation_Bus', 
                   'Transportation_El', 'Transportation_Metra'], inplace=True)

In [ ]:
df.info()

## Charter Dummie

In [ ]:
df_networks = df[['School_ID', 'Network', 'School_Year']]

In [ ]:
df_networks.Network.value_counts()

In [ ]:
df_networks2017 = df_networks[df_networks['School_Year']=='School Year 2017-2018']

In [ ]:
df_networks2017.info()

In [ ]:
def charter(row):
    if row['Network'] == 'Charter':
        return 1
    else:
        return 0

In [ ]:
df_networks2017['charter'] = df_networks2017.apply(lambda row: charter(row), axis=1)
df_networks2017.drop(columns=['School_Year', 'Network'], inplace=True)

In [ ]:
df_networks2017.head()

In [ ]:
df_networks2017.charter.value_counts()

In [ ]:
df = pd.merge(df, df_networks2017, on='School_ID')

In [ ]:
df.drop(columns='Network', inplace=True)

In [ ]:
df.School_Hours.value_counts()

## Admin. Gender

In [ ]:
import re

In [ ]:
df_admin = df[['Administrator', 'School_ID']]

In [ ]:
df_admin.drop_duplicates('School_ID')

In [ ]:
gender = re.compile(r'Mrs|Ms|Mr')
#female_title = re.compile(r'Mrs|Ms')

In [ ]:
df_admin['gender_marker'] = df_admin['Administrator'].astype(str).str.match(gender)
df_admin.drop_duplicates('School_ID', inplace=True)

In [ ]:
df_admin.gender_marker.value_counts()

In [ ]:
male_marker = re.compile(r'Mr|Juan|Richard|Ali|Kevin|Douglas|Raul|Victor|Abdul|Charles|Antonio|Brian|Francisco|\
        Sheldon|Michael|Stephen|Peter|Gregory|Trent|Myron|Gerald|Elias|Octavio|Matthew|\
        David|Leonard|Ferdinand|Fernando|Mark|Patrick|George|Wayne|Anthony|William|\
        Stephen|Timothy|Paul')
female_marker = re.compile(r'Mrs|Ms|Dr. Hillyn|Sharnette|Tressie|Leticia|Priscilla|Joyce|Stephanie|Tanya|Veronica|Kathy|\
         Sandra|Torry|Stephanie|Carolyn|Milena|Vanesa|Breanda|Laura|Kelly|Anna|Nancy|\
         Tamika|Janice|Mary|Shanele|Falilat|Dr.Femi|Noel|Tawanna|Tonya|Sandra|Dr. Vanesa|Tamika')
print(df_admin[df_admin['gender_marker']==False].Administrator.values)

In [ ]:
df_admin['gender_f'] = df_admin['Administrator'].astype(str).str.match(female_marker)

In [ ]:
df_admin[df_admin['gender_f'] == False].values

In [ ]:
df_admin.gender_f.value_counts()

In [ ]:
list(df_admin)

In [ ]:
df_admin.drop(columns = ['Administrator', 'gender_marker'], inplace=True)

In [ ]:
df = pd.merge(df, df_admin, on='School_ID')

In [ ]:
def gender(row):
    if row['gender_f'] == True:
        return 1
    else:
        return 0

In [ ]:
df['gender_f_bn'] = df.apply(lambda row: gender(row), axis=1)

In [ ]:
df.head(5)

In [ ]:
df.drop(columns = ['Administrator','After_School_Hours', 'School_Hours', 'gender_f'], inplace = True)

In [ ]:
df.head()

## Pickle 29 Feature Columns

In [ ]:
with open('data/pickles/features_29columns.pickle', 'wb') as to_write:
    pickle.dump(df, to_write)

## Can't Get Working: After School Hours

In [ ]:
#df_as_hours = df[['After_School_Hours', 'School_ID']]

In [ ]:
#print(df_as_hours['After_School_Hours'].value_counts())

In [ ]:
#df_as_hours['as_start'] = df_as_hours['After_School_Hours'].astype(str).str[0:4]

In [ ]:
#df_as_hours.head(30)

In [ ]:
#df_as_hours.as_start.value_counts()

In [ ]:
#df_as_hours['no_pm'] = df_as_hours.After_School_Hours.str.replace('P.M.', '')

In [ ]:
#df_as_hours['no_pm'] = df_as_hours.no_pm.str.replace('PM', '')

In [ ]:
#df_as_hours['as_end'] = df_as_hours['no_pm'].astype(str).str[-5:]

In [ ]:
#df_as_hours.as_end = df_as_hours.as_end.str.replace('-', '')

In [ ]:
#df_as_hours.as_end.value_counts()

In [ ]:
#import re

In [ ]:
#after_end_dash = re.compile(r"\-(.*)")
#after_end_to = re.compile(r"t(.*)")

In [ ]:
'''
for hour_range in df['After_School_Hours'].items():
    #print(hour_range[1])
    if '-' in str(hour_range[1]):
        df_as_hours['as_stop'] = after_end_dash.search(hour_range[1])
    elif 'to' in str(hour_range[1]):
            df_as_hours['as_stop']=after_end_to.search(hour_range[1])

'''

In [ ]:
#df_as_hours.as_stop.value_counts()