In [3]:
import pandas as pd
import pickle

In [4]:
with open('data/pickles/features_29columns.pickle','rb') as read_file:
    df = pickle.load(read_file)

In [5]:
def replace_comma(row):
    return float(row['Zip_Mean_Income'].replace(',', ''))

df['Zip_Mean_Income'] = df.apply(lambda row: replace_comma(row), axis =1) 
    
df.drop(columns = ['School_ID', 'School_Year', 'Zip_y', 'School_Year'], inplace=True)

In [6]:
#language counts have 10 NaN values. Replace with 0
df.fillna(0, inplace=True)
df.Classroom_Languages_count.isna().sum()

0

In [9]:
df.shape

(236, 30)

In [10]:
df.head()

,Graduation_Rate_School,Student_Count_Total,Zip_Mean_Income,Fully Accessible,Generally accessible,Student_Count_Asian_perc,Student_Count_Asian_Pacific_Islander_perc,Student_Count_Black_perc,Student_Count_English_Learners_perc,Student_Count_Ethnicity_Not_Available_perc,...,Brown,Green,Orange,Pink,Purple,Red,Dress_Code_dummie,grades_offered_count,charter,gender_f_bn
0,80.9,1739,53353.0,0,1,0.002875,0.0,0.033353,0.190339,0.006325,...,0,0,0,1,0,1,0,4,0,0
1,78.6,1706,57770.0,0,1,0.005862,0.0,0.031067,0.201055,0.007620,...,0,0,0,1,0,1,0,4,0,0
2,82.8,742,53353.0,0,0,0.000000,0.0,0.032345,0.227763,0.000000,...,0,0,1,1,0,0,1,4,1,1
3,85.0,745,57770.0,0,0,0.000000,0.0,0.018792,0.285906,0.001342,...,0,0,1,1,0,0,1,4,1,1
4,1.7,199,53353.0,0,0,0.000000,0.0,0.773869,0.010050,0.000000,...,0,0,0,0,0,0,0,4,0,1

In [11]:
with open('data/pickles/features_29feat_clean.pickle', 'wb') as to_write:
    pickle.dump(df, to_write)